{% if has_extended_links == 'true' %}
    {% set modifier = 'card-extended_with-links' %}
{% endif %}
<div class="card-extended {{modifier}}" data-href="/equipment.php">
    <div class="card-extended__content">
        <div class="card-extended__link-base">
            <img src="/img/placeholder1.jpg" alt="">
            <a href="#" class="type"><span>{{ text }}</span></a>

            {% if has_extended_links == 'true' %}
            <div class="card-extended__links-extended"> {#если этого дива нет, то JS ведет себя по другому#}
                <div class="card-extended__links-extended__content">
                    <p class="card-extended__offering-text">Выберите тип отходов</p>
                    <div class="three-links-wrapper">
                        {{ include('Includes/Cards/StrangeLink.twig', {modifier: 'strange-link_solid', text: 'Твердые'}) }}
                        {{ include('Includes/Cards/StrangeLink.twig', {modifier: 'strange-link_soft', text: 'Мягкие'}) }}
                        {{ include('Includes/Cards/StrangeLink.twig', {modifier: 'strange-link_special', text: 'Спец'}) }}

                    </div>
                    <div style="clear: both;"></div>
                    <a href="/equipment.php" class="card-extendend__to-all">» все элементы из PHP</a>
                </div>
            </div>
            {% endif %}

        </div>
    </div>
</div>