@font-face {
  font-family: 'Roboto Medium';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Medium'), local('RobotoLt-Regular'),
  url(fonts/roboto-medium.woff) format('woff'),
  url(fonts/roboto-medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'),
  url(fonts/roboto-regular.woff) format('woff'),
  url(fonts/roboto-regular.ttf) format('truetype');
}

html {
  font-size: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  
  @media (min-width: $screen-lg) {
    background-image: url('img/bg/bg-body.jpg');
  }
}
p {
  color: white;
  line-height: 1.3em;
}
div {
  line-height: 1.3em; //в style guide было написано 1.5
}


a {
  transition: all $timeShort;
  border-bottom: 1px solid $clrMain1;
  &:hover {
    border-bottom: 1px solid $clrAcc;
  }
}

.page-header {
  color: $clrGrayBG;  //30px
  font-size: $font-size-h2;
  text-transform: uppercase;
  font-weight: 500;
  @media (min-width: $screen-md) {
    font-size: $font-size-h1;
  };

  &.page-header--managers {
    @media (min-width: $screen-lg) {
      float: left;
    };
  }
}
.header-secondary {
  font-size: $font-size-large;
  color: $clrGrayBG;
  font-weight: bold;
}

.user-text {
  p {
    color: #1f1f1f;
  }
}

.kb-article img, .ac-container img {
  max-width: 100%;
}