$gap: 9px;
$guessScrollbarWidth: 20px;

//Colors
$clrMain1: #1b75bc;
$clrMain2: #4485af;
$clrMain3: #508093;
$clrMain4: #91937d;
$clrMain5: #7e8d84;
$clrMain6: #a68d4a;

$clrAcc: #eaad41;
$clrAchtung: #ff6633;

$clrGrayDark: #333;
$clrGrayBG: #555;
$clrGrayLight: #999;
$clrGrayLight2: #dadada;

$clrWhiteTrans1: rgba(white, 0.6);

//Font-Sizes
$font-size-h1:            30px !default; //30px
$font-size-h2:            1.5em !default;   //24px
$font-size-h3:            1.3em !default;   //20px
$font-size-large:         18px  !default;  //18
$font-size-base:          1em     !default; //16px
$font-size-h5:            0.9em  !default;
$font-size-small:         0.7em   !default;



//BreakPoints
//Этих breakpoints. sm-min и sm-max не нужно
$screen-sm: 480px;
$screen-md: 800px;
$screen-lg: 1080px;
$screen-xl: 1400px; //этого брекпоинта нет в jubilant-engine. Значит je будет переопределяться в libs-overriding
$screen-parallax: 1281px  !default;

$clr: green;

////Скопировано из JE!!!
////////////////////////////////////////////
////Colours
//$clrBlack:              hsl(0, 0%, 12%)   !default;
//$clrText:               hsl(0, 0%, 12%)   !default;
//$clrTextLight:          hsl(0, 0%, 44%)   !default;
//$clrDivider:            hsl(0, 0%, 85%)   !default;
//$clrGrayLight:          hsl(0, 0%, 95%)   !default;
//$clrError:              hsl(358, 85%, 52%) !default;
//
////Font-Sizes
//$font-size-h1:            3.157em !default;
//$font-size-h2:            2.369em !default;
//$font-size-h3:            1.777em !default;
//$font-size-large:         1.333em  !default;
//$font-size-base:          1em     !default;
//$font-size-small:         0.75em   !default;
//
////Times
//$timeShort:   0.2s  !default;
//$timeMed:     0.5s  !default;
//$timeLong:    1.2s  !default;
//$timeHuge:    3s    !default;
//
////BreakPoints
////Этих breakpoints. sm-min и sm-max не нужно
//$screen-sm: 480px   !default;
//$screen-md: 840px   !default;
//$screen-lg: 1200px  !default;
//$screen-parallax: 1281px  !default;
//
////Typo
//$h1: 'h1, .h1';
//$h2: 'h2, .h2';
//$h3: 'h3, .h3';
//$h4: 'h4, .h4';
//$h5: 'h5, .h5';
//$h6: 'h6, .h6';
//
//
////Other
//$headerHeight: 75px !default;
//$hovers: '&:hover, &.hover';
//
//$gap:           7px !default;
//$lineThin:      2px !default;
//$lineThick:     4px !default;
//$borderRadius:  0px !default;
//
////$hovers: '&:hover, &.hover, &:focus';   //под сомнением
