$time: $timeMed;
//$time: 0.3s;
//$time: $timeShort;

.nav-gallery {
  position: fixed;
  z-index: 11;
  transition: all $time;

  display: flex;
  flex-flow: row nowrap;
  
  a.nav-gallery__item {
    transition: all $time;
    flex: 0 1 auto;
    display: inline-block;
    font-size: $font-size-base;

    height: 45px;
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
    
    border: none !important;
    text-decoration: none;
    color: white;
    
    &:hover {
      background-color: $clrAcc !important;
    }
    
    span.icon {
      display: inline-block;
      //outline: 1px solid darkred;
      height: 30px;
      width: 30px;
      vertical-align: middle;
      background-repeat:no-repeat;
      background-position: center;
      margin-right: 0;
      @media (min-width: $screen-md) {
        margin-right: $gap;
      }
      
    }
    span.text {
      vertical-align: middle;
    }
    &.nav-gallery__item_photo {
      background-color: $clrMain5;
      span.icon {background-image: url('img/icons/nav-gallery/photo.png');}
    }
    &.nav-gallery__item_video {
      background-color: $clrMain6;
      span.icon {background-image: url('img/icons/nav-gallery/video.png');}
    }
    &.nav-gallery__item_complexes {
      background-color: $clrMain3;
      span.icon {background-image: url('img/icons/nav-gallery/complexes.png');}
    }
  }


  top: 30px;
  left: 80px;
  a.nav-gallery__item {
    span.text {
      display: none;
    }
  }
  @media (min-width: $screen-md) {

    top: 18px;
    left: calc((100% - #{$screen-md}) / 2 + 110px);
    
    a.nav-gallery__item {
      padding-top: 19px;
      padding-left: 19px;
      padding-right: 19px;
      height: 70px;
      span.text {
        display: inline;
      }
    }
  }
  @media (min-width: $screen-lg) {
    top: 52px;
    left: calc((100% - #{$screen-lg}) / 2 + 280px);
    a.nav-gallery__item {
      padding-top: 7px;
      padding-left: 7px;
      padding-right: 7px;
      height: 45px;
    }
  }
  @media (min-width: $screen-xl) {
    display: none;
  }
}

.scrolled-from-top {
  .nav-gallery {
    @media (min-width: $screen-lg) {
      top: 30px;
      left: calc((100% - #{$screen-lg}) / 2 + 180px);
    }
  }
}