//Containers
.jeContainerFluid {
  width: 100%;
  margin: 0 auto;
  //overflow: auto;
}
.jeContainer {
  @extend .jeContainerFluid;
  padding-left: $gap*2;
  padding-right: $gap*2;
  @media (min-width: $screen-sm) {
  }
  @media (min-width: $screen-md) {
    width: $screen-md;
  }
  @media (min-width: $screen-lg) {
    width: $screen-lg;
  }
}


//Vertical Gaps
@mixin jeRespVertGap($marginOrPadding: 'padding') {
  #{$marginOrPadding}-top: 0px;
  #{$marginOrPadding}-bottom: 0px;
  @media (min-width: $screen-sm) {
    #{$marginOrPadding}-top: 20px;
    #{$marginOrPadding}-bottom: 20px;
  }
  @media (min-width: $screen-md) {
    #{$marginOrPadding}-top: 40px;
    #{$marginOrPadding}-bottom: 40px;
  }
  @media (min-width: $screen-lg) {
    #{$marginOrPadding}-top: 60px;
    #{$marginOrPadding}-bottom: 60px;
  }
}
.jeRespVertGap {
  @include jeRespVertGap();
}


//Блок шириной на весь экран и удобной высоты, например слайдер.
//ширины оптимизированы под широкоформатные мониторы
@mixin jeJumbo($xs: 60vw, $sm: 50vw, $md: 40vw, $lg: 35vw) {
  //height: 60vw;
  height: $xs;
  @media (min-width: $screen-sm) {
    height: $sm;
  }
  @media (min-width: $screen-md) {
    height: $md;
  }
  @media (min-width: $screen-lg) {
    height: $lg;
  }
}
.jeJumbo {
  @include jeJumbo();
}

//Utilites
.hidden-xs-and-less {
  @media (max-width: $screen-sm - 1px) {
    display: none;
  }
}
.hidden-sm-and-less {
  @media (max-width: $screen-md - 1px) {
    display: none;
  }
}
.hidden-md-and-less {
  @media (max-width: $screen-lg - 1px) {
    display: none;
  }
}
.hidden-lg-and-less {
  display: none;
}

.hidden-xs-and-more {
    display: none;
}
.hidden-sm-and-more {
  @media (min-width: $screen-sm) {
    display: none;
  }
}
.hidden-md-and-more {
  @media (min-width: $screen-md) {
    display: none;
  }
}
.hidden-lg-and-more {
  @media (min-width: $screen-lg) {
    display: none;
  }
}


//flexMofN    //адаптивный блок
@mixin flexMofN($colQty, $colQtyTotal, $localGap: $gap){
  //@include flexMofN(1,3);
  //@include flexMofN(3,4, '30px');
  //$gap должен быть установлен в _vars.scss
  //использованть в сочетании с justify-content: space-between; у родителя
  $margin: #{$localGap} * 2;
  $spacesQty: $colQtyTotal - 1; //qty of spaces in all row  
  $totalSpacePX:  #{$margin} * 2 * #{$spacesQty}; //summary px at row that margins places

  flex: 0 1 calc(((100% - #{$totalSpacePX}) / #{$colQtyTotal} * #{$colQty}) + (#{$margin} * 2 * (#{$colQty} - 1)));
}