/*
Usage:
<body class="jeWithBG">
    <picture>
        <source media="(min-width: 1200px)" srcset="url">
        <source media="(min-width: 840px)" srcset="url">
        <source media="(min-width: 480px)" srcset="url">
        <source media="(min-width: 200px)" srcset="url">
        <img src="url" class="jeWithBG__bg jeWithBG__bg_bottom"> <!--Average size. Hack for IE-->
    </picture>
*/

.jeWithBG {

  &:not(body) {
    position: relative; //иначе, например, не заработает sticky-footer script
  }
  img.jeWithBG__bg {
    position: absolute;
    z-index: -1;

    &.jeWithBG__bg_middle {
      width: 100%;
      top: 0;
      height: 100%;
      object-fit: cover;
      font-family: 'object-fit: cover;';
    }

    &.jeWithBG__bg_bottom {
      width: 100%;
      bottom: 0;
    }
    &.jeWithBG__bg_top {
      width: 100%;
      top: 0;
    }
  }
}