/*
Usage:
@include jeLightGalleryThumbsToCenter();
@include jeLightGalleryThumbsColor($clr2);
@include jeLightGalleryZIndex();
@include jeLightGalleryArrows();
*/
@mixin jeLightGalleryThumbsToCenter(){
  .lg-thumb.group {margin: 0 auto;}
}
@mixin jeLightGalleryThumbsColor($clr){
  .lg-outer .lg-thumb-item.active, .lg-outer .lg-thumb-item:hover {border-color: $clr;}
}
@mixin jeLightGalleryZIndex($zIndex: 10010) {
  .lg-backdrop, .lg-outer {
    z-index: $zIndex;
  }
}
@mixin jeLightGalleryArrows() {
  .lg-next.lg-icon,
  .lg-prev.lg-icon {
    background-color: transparent;
    &:before, &:after {display: none;  }
  }
}

