.form-filter-equipment {
  //outline: 1px solid darkred;
  //background-color: rgba(#aff, 0.5);
  padding: $gap*2;
  padding-top: $gap*6;
  @media (min-width: $screen-xl) {
    padding: $gap*2;
    padding-top: 0;
  }
  color: white;

  .h3 {
    font-size: 16px;
    @media (min-width: $screen-md) {
      font-size: 20px;
    }
    @media (min-width: $screen-xl) {
      font-size: 18px;
    }
  }

  .form-filter-equipment__columns {
    column-count:1;
    -moz-column-count:1;
    column-gap: $gap*4;
    -moz-column-gap: $gap*4;

    @media (min-width: $screen-md) {
      column-count:2;
      -moz-column-count:2;
    }
    @media (min-width: $screen-lg) {
      column-count:3;
      -moz-column-count:3;
    }

    @media (min-width: $screen-xl) {
      column-count:1;
      -moz-column-count:1;
    }
  }
  .form-filter-equipment__columns > * {
    //outline: 1px solid darkred;
    page-break-inside: avoid;
    break-inside: avoid;
    padding-top: 1px;
  }
  .form-filter-equipment__columns > * > * {
    //margin-top:0;
  }

  .je-radio--trashtype {
    margin-bottom: 10px;
    label {
      display: block;
      @media (max-width: $screen-md - 1px) {
        max-width:250px;
      }

      padding-left: 45px;
      margin-right: 0;
      &:before {
        right: 0;
        left: initial;
        margin-right: 0;
      }
      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 20px;
        height: 20px;
        //outline: 1px solid darkred;
        background-repeat:no-repeat;
        background-position: center center;
      }
    }
    &.je-radio--trashtype-myagkie label:after {background-image: url('img/icons/trash-type-1/soft.png');}
    &.je-radio--trashtype-tverdye label:after {background-image: url('img/icons/trash-type-1/hard.png');}
    &.je-radio--trashtype-spetsnaznachenie label:after {background-image: url('img/icons/trash-type-1/special.png');}


  }


  .form-filter-equipment__price-gap {

    .min-max {
      margin-bottom: 6px;
      .min {
        float: left;
      }
      .max {
        float: right;
      }
      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }

    .no-ui-slider--v1 {
      margin-right: 12px;
      margin-left: 12px;
      //Фикс для noUiSlider и columns-count
      .noUi-base, .noUi-handle {
        -webkit-transform: initial;
        transform: initial;
      }
    }
  }

  .form-filter-equipment__ch-box-list,
  .form-filter-equipment__matter-ch-boxes,
  .form-filter-equipment__performance-ch-boxes,
  .form-filter-equipment__warehouse-radios,
  .form-filter-equipment__state-radios {

    display: flex;
    flex-flow: row wrap;
    > * {
      flex: 0 1 50%;
      margin-bottom: $gap;
      //margin-right:$gap;
      @media (min-width: $screen-md) {
        //flex: 0 1 25%;
      }
      @media (min-width: $screen-xl) {
        //flex: 0 1 50%;
      }
    }
  }

  .form-filter-equipment__clear-filter{
    padding-bottom:$gap*2;
    flex: 0 1 100%;
    text-align: right;
    .btn-clear-filter {
      display: inline-flex;
    }
  }

  .form-filter-equipment__search-button{

    flex: 0 1 100%;
    text-align: center;
    a {
      width: 100%;
      @media (min-width: $screen-md) {
        width: auto;
      }
      @media (min-width: $screen-xl) {
        width: 100%;
      }
    }
  }
}
