<div class="jeContainerFluid">
    <div class="jeContainer">
        <p style="color: blue">При смене значения в инпуте карточки пока что не меняются. Просиходит только анимация.</p>
        <p class="h2 page-header page-header--managers">Наши Менеджеры</p>
        <div class="filter">
            <p>Фильтрация <br class="hidden-sm-and-more">по специализации</p>
            <select name="type" class="js-select-on-managers">
                <option value="0">Все</option>
                <option value="1">Первая</option>
                <option value="2">Вторая</option>
            </select>
        </div>
        <div style="clear: both"></div>
        <br>
        <br>
        <div class="cards">
        {#{% for item in [1,2,3,4,5] %}#}
            {{ include('Includes/Cards/CardManager.twig', {text: 'bar', has_extended_links: 'true', spec_id: '0', spec_title: 'общая'}) }}
            {{ include('Includes/Cards/CardManager.twig', {text: 'bar', has_extended_links: 'true', spec_id:  '1', spec_title: 'первая'}) }}
            {{ include('Includes/Cards/CardManager.twig', {text: 'bar', has_extended_links: 'true', spec_id: '2' , spec_title: 'вторая'}) }}
            {{ include('Includes/Cards/CardManager.twig', {text: 'bar', has_extended_links: 'true', spec_id: '0' , spec_title: 'общая'}) }}
            {{ include('Includes/Cards/CardManager.twig', {text: 'bar', has_extended_links: 'true', spec_id: '1' , spec_title: 'первая'}) }}
        {#{% endfor %}#}
        </div>
        {#{{ include('Includes/Cards/CardExtended.twig', {text: 'Lorem ipsum consectetur!', has_extended_links: 'true'}) }}#}
        {#{{ include('Includes/Cards/CardExtended.twig', {text: 'Item3'})  }}#}
        {#{{ include('Includes/Cards/CardExtended.twig', {text: 'Next cool stuff item'}) }}#}
        <div style="clear: both"></div>
    </div>
</div>