.form-filter-spares {
  //outline: 1px solid darkred;
  padding: $gap*2;
  padding-top: $gap*6;
  @media (min-width: $screen-xl) {
    padding: $gap*2;
    padding-top: 0;
  }

  display: flex;
  flex-flow: row wrap;

  color: white;

  .form-filter-spares__selects {
    //outline: 1px solid darkblue;
    flex: 0 1 100%;
    //padding-right: $gap;

    @media (min-width: $screen-lg) {
      flex: 0 1 33.3%;
      padding-right: $gap;
    }

    @media (min-width: $screen-xl) {
      flex: 0 1 100%;
      padding-right: 0;
    }

    //> * {outline: 1px solid darkgreen;}


    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    //select1
    .form-filter-spares__equipment-type{
      flex: 0 1 100%;
      @media (min-width: $screen-md) {
        flex: 0 1 50%;
        padding-right: $gap;
      }
      @media (min-width: $screen-lg) {
        flex: 0 1 100%;
        padding-right:0;
      }
    }
    //select2
    .form-filter-spares__model-select{
      flex: 0 1 100%;
      @media (min-width: $screen-md) {
        flex: 0 1 50%;
        padding-left: $gap;
      }
      @media (min-width: $screen-lg) {
        flex: 0 1 100%;
        padding-left: 0;
      }
    }

  }

  .form-filter-spares__checkboxes-and-reset {
    //outline: 1px solid darkblue;

    flex: 0 1 100%;

    @media (min-width: $screen-lg) {
      flex: 0 1 66.6%;
      padding-left: $gap;
    }
    @media (min-width: $screen-xl) {
      flex: 0 1 100%;
      padding-left: 0;
    }
    //> * {outline: 1px solid darkgreen;}

    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;

    .form-filter-spares__spares-select{
      flex: 0 1 100%;

      .form-filter-spares__spares-ch-boxes {
        display: flex;
        flex-flow: row wrap;
        .ch-box {
          flex: 0 1 50%;
          margin-bottom:$gap;
          //margin-right:$gap;
          @media (min-width: $screen-md) {
            flex: 0 1 25%;
          }
          @media (min-width: $screen-xl) {
            flex: 0 1 50%;
          }
        }
      }
    }

    .form-filter-spares__clear-filter{
      padding-bottom:$gap*2;
      flex: 0 1 100%;
      text-align: right;
      .btn-clear-filter {
        display: inline-flex;
      }
    }

  }

  .form-filter-spares__search-button{

    flex: 0 1 100%;
    text-align: center;
    a {
      width: 100%;
      @media (min-width: $screen-md) {
        width: auto;
      }
      @media (min-width: $screen-xl) {
        width: 100%;
      }
    }
  }
}
