.managers-hint-tie {
  display: none;
  z-index:60;
  @media (min-width: $screen-lg) {
    display: block;
  }

  position: fixed;
  top: 50%;
  right: -134px;
  margin-top: 34px;
  width: 205px;
  height: 68px;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url('./Includes/managers-hint-tie/img/block-3.png');
  cursor: pointer;
  
  transition: right $timeShort, background-image $timeShort;

  &.tie-element--hidden {
    right: -205px !important;  //увеличить потом, чтобы пряталось полностью
  }
  &.managers-hint-tie--hover {
    right: 0;
    //right: -50px;
    background-image: url('./Includes/managers-hint-tie/img/block-hover.png');
  }
  &.managers-hint-tie--hidden {
    right: -205px !important;  //увеличить потом, чтобы пряталось полностью
  }

  .managers-hint-logo {
    position: absolute;
    top: 50%;
    left: 12px;
    margin-top: -23.5px;
    height: 47px;
  }
  
}