.icon-spare-type {
  display: block;
  //outline: 1px solid darkred;
  //width: 97px;
  width: calc((100vw - #{$gap*10})/2);
  
  overflow: hidden;

  .icon-spare-type__img {
    position: relative;
    //height: 97px;
    
    height: calc((100vw - #{$gap*10})/2);
    width: 100%;
    border: 3px solid $clrAcc;
    margin-bottom:5px;
    transition: background-color $timeShort;
    
    
    
    img {
      width: 52px;
      height: 52px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: opacity $timeShort;
      &.img {
        opacity: 1;
      }
      &.img-active {
        opacity: 0;
      }
    }
  }

  .icon-spare-type__desc{
    color: white;
    font-size: 14px;
    line-height: 14px;
    //outline: 1px solid pink;
    width: 100%;
    height:60px;
    
    text-align: center;
    margin-bottom: 5px;

    span {
      vertical-align: middle;
    }
  }
  
  &:hover {
    .icon-spare-type__img {
      background-color: $clrAcc;
      img {
        &.img {
          opacity: 0;
        }
        &.img-active {
          opacity: 1;
        }
      }
    }
  }
  
  @media (min-width: $screen-sm) {
    width: calc((100vw - #{$gap*12})/3);
    .icon-spare-type__img {
      
      height: calc((100vw - #{$gap*12})/3);
    }
  }

  @media (min-width: $screen-md) {
    width: calc((100% - #{$gap*3})/4);;
    margin-bottom: 9px;
    .icon-spare-type__img {
      height: 175px;
      margin-bottom: 9px;
      
      &:before {
        content: '';
        position: absolute;
        width: 3px;
        height: 12px;
        top: 100%;
        left: calc(50% - 1px);
        background-color: $clrAcc;
        //outline: 1px solid darkred;
      }
    }
    .icon-spare-type__desc {
      border: 3px solid $clrAcc;
      font-size: 18px;
      line-height: 18px;
      height: 70px;
      padding-top: 3px;
      margin-bottom: 0;
    }
  }
  @media (min-width: $screen-lg) {
    width: calc((100% - #{$gap*3})/4);;
    .icon-spare-type__img {
      height: 153px;
    }
    .icon-spare-type__desc {
      font-size: 16px;
    }
  }
  @media (min-width: $screen-xl) {
    width: calc((100% - #{$gap*10})/6);;
    .icon-spare-type__img {
      height: 127px;
    }
  }
}