.managers-hint-flickity {
  position: relative;
  width: 425px;
  color: white;


  .flickity-viewport {
    cursor: initial !important; //убрать руку
  }
  
  .flickity-prev-next-button {
    top: 43%;
    width: 58px;
    height: 76px;
    border-radius: 0;
    background: none;
    background-repeat:no-repeat;
    background-position: center;
    opacity: 0.7;
    transition: opacity $timeShort;
  }
  .flickity-prev-next-button.previous {
    left: -60px;
    background-image: url('./Includes/managers-hint-flickity/img/prev.png');
  }
  .flickity-prev-next-button.next {
    right: -60px;
    background-image: url('./Includes/managers-hint-flickity/img/next.png');
  }
  .flickity-prev-next-button svg {
    display: none;
  }
  .flickity-prev-next-button:hover {
    opacity: 1;
  }
  .flickity-prev-next-button .arrow {
  }
  .flickity-prev-next-button.no-svg {
  }
  .flickity-prev-next-button:disabled {
  }
  
  .flickity-prev-next-button:focus {
    box-shadow: none;   //убрать дурацкую обводку
  }
  
  .managers-hint-flickity-slide {
    width: 100%; /* full width */
    height: 380px; /* height of carousel */
    margin-right: 10px;
    
    position: relative;

    .managers-hint-flickity-slide__img-link {
      display: block;
      width: 160px;
      height: 200px;
      float: left;
      margin-right: 20px;
      .managers-hint-flickity-slide__img {
        
        width: 160px;
        height: 200px;
        transition: border $timeShort;
        border: 3px solid white;
        object-fit: cover;
        font-family: 'object-fit: cover;';
      }
      &:hover {
        .managers-hint-flickity-slide__img {
          border: 3px solid $clrAcc;
        }
      }
    }

    a.managers-hint-flickity-slide__texts-1{
      display: block;
      p {
        color: $clrAcc;
        text-transform: uppercase;
        font-weight: 500;
        &.lastname{
          font-size: $font-size-h1;
          line-height: 22px;
        }
        &.firstname, &.fathername{
          font-size: $font-size-large;
          line-height: 14px;
        }
      }
      border-bottom: 1px solid transparent !important;
      &:hover {
        p {
          text-decoration: underline;
        }
      }
    }

    .managers-hint-flickity-slide__texts-2 {
      .post-title,
      .post-val,
      .spec-title,
      .spec-val {
        font-size: $font-size-base;
        margin-bottom:0px;
      }
      .post-val,
      .spec-val {
        color: $clrAcc;
        height: 40px;
      }
      .spec-title {
        margin-top:4px;
      }
    
    }
    .managers-hint-flickity-slide__texts-3 {
      margin-top: $gap*2;
      a {
        display: inline-block;
        color: white;
        border-bottom: 1px solid transparent;
        transition: all $timeShort;
        height: 30px;
        padding-left:25px + $gap;
        span {
          display: inline-block;
          margin-top:3px;
          border-bottom: 1px solid white;
        }
        &:hover {
          color: $clrAcc;
          border-bottom: 1px solid transparent;
          span {
            border-bottom: 1px solid $clrAcc;
          }
        }
        position: relative;
        &:before {
          display: block;
          position: absolute;
          content: '';
          //outline: 1px solid orange;
          height: 25px;
          width: 25px;
          left: 0;
          background-repeat:no-repeat;
          background-position: center;
        }

        &.phone {
          &:before {
            background-image: url('Includes/Cards/CardManagerImg/phone.png');
          }
        }
        &.mail {
          &:before {
            background-image: url('Includes/Cards/CardManagerImg/mail.png');
          }
        }
        &.page {
          &:before {
            background-image: url('Includes/Cards/CardManagerImg/site.png');
          }
        }
      }
    }
  }
}

.manager-btn-wrapper {
  text-align: center;
  margin-top: 15px;
}

.manager-btn {
  background-color: transparent;
  padding: 0;
  border: 2px solid #eaad41;
  height: 40px;
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  width: 260px;
  cursor: pointer;
  transition: background-color .3s;
  &:hover {
    background-color: #eaad41;
  }
}