//Возможно вынести в отдельный блок
.filter {
  //outline: 1px solid darkred;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;

  @media (min-width: $screen-md) {
    flex-flow: row nowrap;
    justify-content: flex-end;
  }
  @media (min-width: $screen-lg) {
    float: right;
    margin-top: 20px;
  }
  
  p {
    color: $clrBlack;
    font-weight: bold;
    text-align: right;
    @media (min-width: $screen-md) {
      margin-right: $gap;
    }
  }


  .choices {
    width:100%;
    @media (min-width: $screen-sm) {
      width:255px;
      //float: right;
    }
    @media (min-width: $screen-md) {
    }
    @media (min-width: $screen-lg) {
    }
  }
}