.page-spares {
  display: flex;
  flex-flow: row wrap;
  .tie-holder {
    flex: 0 1 100%;
    //outline: 1px solid darkblue;
    @media (min-width: $screen-xl) {
      flex: 0 1 25%;
      padding-right: $gap*2;
    }
  }
  .spares-content-holder {
/*     outline: 1px solid darkred; */
    flex: 0 1 100%;
    @media (min-width: $screen-xl) {
      padding-left: $gap*2;
      flex: 0 1 75%;
    }
  }
}
