<div class="articles-list">
    <p class="articles-list__header">Сырье</p>
    
    <a href="#" class="articles-list__anchor">Ссылка на статью</a>
    <a href="#" class="articles-list__anchor">Ссылка на статью. Lorem ipsum dolor sit amet.</a>
    <a href="#" class="articles-list__anchor">Ссылка на статью</a>
    
    <p class="articles-list__header">Оборудование</p>

    <a href="#" class="articles-list__anchor">Ссылка на статью</a>
    <a href="#" class="articles-list__anchor">Ссылка на статью. Lorem ipsum dolor sit amet.</a>
    <a href="#" class="articles-list__anchor">Ссылка на статью</a>
    
    <p class="articles-list__header">Бизнес</p>

    <a href="#" class="articles-list__anchor">Ссылка на статью</a>
    <a href="#" class="articles-list__anchor">Ссылка на статью. Lorem ipsum dolor sit amet.</a>
    <a href="#" class="articles-list__anchor">Ссылка на статью</a>
    
</div>