<div class="ask-question-form" name="askQuestionForm">
    {#<br>#}
    <p class="header">Задать <br> вопрос</p>
    <form action="/path/to/send.php" class="form form--dark"
		  novalidate
		  enctype="multipart/form-data">
        <label >Ваше имя:</label>
        <input class="input input--dark" type="text" name="name" required
               pattern="^.{3,}$"
               maxlength="60"
               autocomplete="off"
        >
        <br>
        
        <label >Адрес электронной почты:</label>
        <input class="input input--dark" type="text" name="email" required
               pattern="^\w+[\w\.]*@[\w.]+\.\w+$"
               maxlength="60"
               autocomplete="off"
        >
        <br>


        <label >Вопрос:</label>
        <textarea class="input input--dark" name="question" required
                  maxlength="1000"
        ></textarea>
        <br>

        <button type="submit" class="btn btn_secondary btn_wide">Отправить</button>
		<br>
		<br>

    </form>
</div>
