<div class="find-error-button"></div>

<div style="display: none">
    <div class="order-find-error-modal-content-no-touch">

        <p class="header">Нашли <br> ошибку <br> на сайте?</p>
        <form action="/path/to/send.php" class="form form--dark"
              novalidate
              enctype="multipart/form-data">
            <label >Ваше имя:</label>
            <input class="input input--dark" type="text" name="name" required
                   pattern="^.{3,}$"
                   pattern="^[ ()-1234567890]{6,}$"
                   maxlength="60"
                   autocomplete="off"
            >
            <br>


            <label >Ваш тел:</label>
            <input class="input input--dark" type="text" name="phone"
                   pattern="^[ ()-1234567890]{6,}$"
                   maxlength="60"
                   autocomplete="off"
            >
            <br>
            <label >Адрес электронной почты:</label>
            <input class="input input--dark" type="text" name="email"
                   pattern="^\w+[\w\.]*@[\w.]+\.\w+$"
                   maxlength="60"
                   autocomplete="off"
            >
            <br>


            <label >Ошибка:</label>
            <textarea class="input input--dark" name="question" required
                      maxlength="1000"
            ></textarea>
            <br>

            <button type="submit" class="btn btn_main btn--bold btn--uppercase btn_wide">Отправить</button>
            <br>
            <br>

        </form>
    </div>
</div>