<form action="/ajax-temp/equipment-form.php" class="form-filter-equipment" method="post" novalidate enctype="multipart/form-data">



    <div class="form-filter-equipment__columns">
        {#<div class="form-filter-equipment__price-gap-slider" data-min="200" data-max="10000"></div>#}
        <div class="form-filter-spares__equipment-type">
            <p class="h3">ТИП ОБОРУДОВАНИЯ</p>
            <select name="equipment-type" class="form-filter-equipment--equipment-type-select">
                {#<option disabled selected>Выберите тип оборудования</option>#}
                <option selected value="empty">Выберите тип оборудования</option>
                <option value="Чебурашка">Чебурашка</option>
                <option value="Крокодил Гена">Крокодил Гена</option>
                <option value="Шапокляк">Шапокляк</option>
                <option value="Крыса Лариса">Крыса Лариса</option>
                <option value="Чебурашка">Чебурашка</option>
                <option value="Крокодил Гена">Крокодил Гена</option>
                <option value="Шапокляк">Шапокляк</option>
                <option value="Крыса Лариса">Крыса Лариса</option>
            </select>
        </div>

        <div class="form-filter-equipment__trash-type">
            <p class="h3">ТИП ОТХОДОВ</p>
            <div class="je-radio je-radio--v1 je-radio--trashtype je-radio--trashtype-tverdye">
                <input id="trashtype-hard" type="radio" name="otkhody" value="tverdye">
                <label for="trashtype-hard">Твердые отходы</label>
            </div>
            <div class="je-radio je-radio--v1 je-radio--trashtype je-radio--trashtype-myagkie">
                <input id="trashtype-soft" type="radio" name="otkhody" value="myagkie">
                <label for="trashtype-soft">Мягкие отходы</label>
            </div>
            <div class="je-radio je-radio--v1 je-radio--trashtype je-radio--trashtype-spetsnaznachenie">
                <input id="trashtype-special" type="radio" name="otkhody" value="spetsnaznachenie">
                <label for="trashtype-special">Спец. назначение</label>
            </div>

        </div>

        <div class="form-filter-equipment__price-gap">
            <p class="h3 test">ДИАПАЗОН ЦЕН</p>

            <div class="min-max">
                <div class="min"><p>₽ 15 000</p></div>
                <div class="max"><p>₽ 120 000</p></div>
            </div>
            <div class="form-filter-equipment__price-gap-slider no-ui-slider--v1" data-min="15000" data-max="120000" data-value-min="50000" data-value-max="110000"></div>
        </div>
        <div class="form-filter-equipment__matter-select">
            <p class="h3">ВЫБОР МАТЕРИАЛА</p>
            <div class="form-filter-equipment__matter-ch-boxes">
                <div class="ch-box ch-box--v1">
                    <input id="check-pnd" type="checkbox" name="materialy" value="pnd">
                    <label for="check-pnd">ПНД</label>
                </div>
                <div class="ch-box ch-box--v1">
                    <input id="check-pvd" type="checkbox" name="materialy" value="pvd">
                    <label for="check-pvd">ПВД</label>
                </div>
                <div class="ch-box ch-box--v1">
                    <input id="check-abs" type="checkbox" name="materialy" value="abs">
                    <label for="check-abs">АБС</label>
                </div>
                <div class="ch-box ch-box--v1">
                    <input id="check-ps" type="checkbox" name="materialy" value="ps">
                    <label for="check-ps">ПС</label>
                </div>
                <div class="ch-box ch-box--v1">
                    <input id="check-pp" type="checkbox" name="materialy" value="pp">
                    <label for="check-pp">ПП</label>
                </div>
                <div class="ch-box ch-box--v1">
                    <input id="check-plastic" type="checkbox" name="materialy" value="plastic">
                    <label for="check-plastic">Пластик</label>
                </div>
                <div class="ch-box ch-box--v1">
                    <input id="check-carton" type="checkbox" name="materialy" value="carton">
                    <label for="check-carton">Картор</label>
                </div>
                <div class="ch-box ch-box--v1">
                    <input id="check-polyethylene" type="checkbox" name="materialy" value="polyethylene">
                    <label for="check-polyethylene">Полиэтилен</label>
                </div>
                <div class="ch-box ch-box--v1">
                    <input id="check-styrofoam" type="checkbox" name="materialy" value="styrofoam">
                    <label for="check-styrofoam">Пенопласт</label>
                </div>
                <div class="ch-box ch-box--v1">
                    <input id="check-pet" type="checkbox" name="materialy" value="pet">
                    <label for="check-pet">ПЭТ</label>
                </div>

            </div>
        </div>
        <div class="form-filter-equipment__performance">
            <p class="h3">ПРОИЗВОДИТЕЛЬНОСТЬ</p>
            <div class="form-filter-equipment__performance-ch-boxes">
                <div class="ch-box ch-box--v1">
                    <input id="check-200" type="checkbox" name="200">
                    <label for="check-200">150-200кг/ч</label>
                </div>
                <div class="ch-box ch-box--v1">
                    <input id="check-250" type="checkbox" name="250">
                    <label for="check-250">200-250кг/ч</label>
                </div>
                <div class="ch-box ch-box--v1">
                    <input id="check-300" type="checkbox" name="300" checked>
                    <label for="check-300">200-300кг/ч</label>
                </div>
                <div class="ch-box ch-box--v1">
                    <input id="check-400" type="checkbox" name="400">
                    <label for="check-400">300-400кг/ч</label>
                </div>
            </div>
        </div>
        <div class="form-filter-equipment__warehouse">
            <p class="h3">НАЛИЧИЕ НА СКЛАДЕ</p>
            <div class="form-filter-equipment__warehouse-radios">
                <div class="je-radio je-radio--v1">
                    <input id="warehouse-yes" type="radio" name="warehouse" value="1">
                    <label for="warehouse-yes">В наличии</label>
                </div>
                <div class="je-radio je-radio--v1">
                    <input id="warehouse-no" type="radio" name="warehouse" value="0">
                    <label for="warehouse-no">Под заказ</label>
                </div>
            </div>
        </div>
        <div class="form-filter-equipment__state">
            <p class="h3">СОСТОЯНИЕ ОБОРУДОВАНИЯ</p>
            <div class="form-filter-equipment__state-radios">
                <div class="je-radio je-radio--v1">
                    <input id="state-new" type="radio" name="state" value="1">
                    <label for="state-new">Новое</label>
                </div>
                <div class="je-radio je-radio--v1">
                    <input id="state-old" type="radio" name="state" value="0" checked>
                    <label for="state-old">Б/У</label>
                </div>
            </div>
        </div>
        <div class="form-filter-equipment__clear-filter">
            {{ include('./Includes/btn-clear-filter.twig') }}
            <br>
        </div>
    </div>

    <div class="form-filter-equipment__search-button">
        <a href="" class="btn btn_main form-filter-equipment__submit">Найти на сайте</a>
    </div>

</form>
