<div class="managers-hint-flickity">
    {% for item in [1,2,3,4,5] %}
        <div class="managers-hint-flickity-slide">
            <a href="#" class="managers-hint-flickity-slide__img-link">
                <img data-flickity-lazyload="/img/placeholder1.jpg" class="managers-hint-flickity-slide__img">
            </a>
            <a href="#" class="managers-hint-flickity-slide__texts-1">
                <p class="lastname">Иванов</p>
                <p class="firstname">Иван</p>
                <p class="fathername">Иванович</p>
            </a>

            <div class="managers-hint-flickity-slide__texts-2">
                <p class="post-title">Должность</p>
                <p class="post-val">Lorem ipsum dolor sit amet. Lorem ipsum.</p>
                <p class="spec-title">Специализация</p>
                <p class="spec-val">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
            </div>
            <div style="clear: both";></div>
            <div class="managers-hint-flickity-slide__texts-3">
                <a href="tel:+79601030811" class="phone"><span>+7 (905) 123-45-67</span></a>

                <br>
                <a href="mailto:address@domain.ru" class="mail"><span>address@domain.ru</span></a>

                <br>
                <a href="http://address.domain.ru" class="page"><span>address.domain.ru</span></a>
            </div>
            <div class="manager-btn-wrapper">
                <button class="manager-btn">Выбрать</button>
            </div>
        </div>
    {% endfor %}
</div>