<div class="managers-hint-slider managers-hint-slider--hidden">
    <div class="managers-hint-slider__cross">
        
    </div>
    {{ include('Includes/managers-hint-logo.twig') }}
    {{ include('Includes/managers-hint-flickity.twig') }}
</div>