<div id="preloader" class="preloader">
    <div class="preloader__image preloader__image_1"></div>
    <div class="preloader__image preloader__image_2" ></div>
    <div class="preloader__image preloader__image_3"></div>
</div>