<div class="question-item {{ mod }}">
    <div class="question-item__question">
        <p>{{ question }}</p>
    </div>
    <div class="question-item__answer">
        <p>{{ answer }}</p>
    </div>
</div>