<section class="tie-element search-tie">
    <div class="tie-element-logo"></div>
</section>

<section class="hint-element search-hint hint-hide">
    <div class="cross-btn"></div>
    <div class="hint-logo"></div>
    <div class="hint-content">
        <form action="" method="GET" id="search-form" class="search-form">
            <div class="form-wrapper">
                <div class="form-el input">
                    <input type="text" name="search" id="search" placeholder="Поиск">
                </div>
                <div class="form-el button">
                    <button type="submit">Найти</button>
                </div>
            </div>
        </form>
    </div>
</section>

<section class="tie-element cart-tie">
    <div class="tie-element-logo"></div>
</section>

<section class="hint-element cart-hint hint-hide">
    <div class="cross-btn"></div>
    <div class="hint-logo"></div>
    <div class="hint-content">
        <div class="cart-wrapper">
            <div class="cart-el text">
                <p>
                    В вашей корзине <span class="count">5</span> товаров
                    на сумму <span class="price">7 000 000</span> рублей
                </p>
            </div>
            <div class="cart-el button">
                <a href="#">Перейти в корзину</a>
            </div>
        </div>
    </div>
</section>

<section class="tie-element error-tie">
    <div class="tie-element-logo"></div>
</section>

<section class="hint-element error-hint hint-hide">
    <div class="cross-btn"></div>
    <div class="hint-logo"></div>
    <div class="hint-content">
        <form action="" method="GET" id="error-form" class="error-form">
            <div class="form-wrapper">
                <div class="form-el input">
                    <input type="text" placeholder="Ваше имя" required>
                </div>
                <div class="form-el textarea">
                    <textarea name="texterror" required cols="36" rows="36" id="texterror" placeholder="Опишите ошибку"></textarea>
                </div>
                <div class="form-el button">
                    <button type="submit">Отправить</button>
                </div>
            </div>
        </form>
    </div>
</section>

<div class="je-alertino je-alertino--order-callback popup-for-form-error-msg">
    <div class="je-alertino__overlay"></div>
    <div class="je-alertino__modal">
        <div class="je-alertino__global-wrapper">
            <div class="je-alertino__before order-callback-triangle-top"></div>
            <div class="je-alertino__content-wrapper ps-container ps-theme-default ps-active-y">
                <div class="je-alertino__cross"></div>
                <div class="je-alertino__content">
                    <h3>
                        Спасибо за ваше<br>
                        сообщение, мы обязательно
                        исправим ошибку
                    </h3>
                </div>
            </div>
            <div class="je-alertino__after order-callback-triangle-bottom"></div>
        </div>
    </div>
</div>