<h3>Откуда берутся первичные полимеры?
</h3>
<p>Не многим из нас, участников полимерного бизнеса, в пору студенческих лет выпала честь получить профессиональное образование по профилю переработки вторичных полимеров. Вместе с тем, сфера «доходов на отходах» всегда привлекала предпринимателей как реальная возможность извлечь деньги. Сектор по-прежнему развит достаточно слабо, особенно это касается информационной поддержки бизнеса. Начинающим специалистам зачастую приходится сложно осваивать теоретическую базу знаний о химии полимерных материалов. Информации либо крайне мало, либо она описана в сложных технических и химических терминах. В нашей практике достаточно часто встречаются партнеры и начинающие игроки, которые жадно задают вопросы о том, что нам хорошо известно. И мы готовы делиться знаниями, поскольку тернистый путь от изучения азов до комплексных поставок и консультаций в сфере сырья и оборудования мы прошли с самого начала и самостоятельно.
</p>
<p>В этой статье речь пойдёт о самых простых и одновременно важных понятиях, которые как раз и описаны в литературе, порой, сложнее всего остального.
</p>
<p><br>
</p>
<h4>Что такое полимеры?
</h4>
<p><img src="http://ok-stanok.ru/files/1/images/1.jpg" alt="" style="float: left; margin: 0px 10px 10px 0px;">
    <br>
    <br>
    <br>
</p>
<p>Полимеры, или полимерные материалы – это огромная группа схожих по строению веществ. Такое строение присуще и живому и неживому. Если рассматривать полимер под микроскопом, то мы увидим красивую структуру повторяющихся фрагментов – мономеров - крепко связанных друг с другом. Иными словами, полимер – это способ организации молекулы в виде многократного повторения определенных звеньев по сложному химическому алгоритму. Пластмассы – это одна из разновидностей полимеров.
</p>
<p><br><br><br>
</p>
<h4>Откуда берутся полимеры?
</h4>
<p>По происхождению все полимеры можно разделить на три большие группы: природные, искусственные и синтетические.
</p>
<p><img src="http://ok-stanok.ru/files/1/images/2.png" alt="" style="display: block; margin: auto;">
</p>
<p><strong><em>Природные полимеры</em></strong> – это продукт жизнедеятельности растений и животных. Они в большом количестве содержатся в шерсти, древесине, коже. Например, знакомый всем крахмал – это полимер, продукт жизнедеятельности картофеля. Полимерную структуру содержит в себе и человек. Белок – основа жизни – представляет собой именно полимерную, повторяющуюся структуру. Из курса школьной биологии  многим нравилось рассматривать цепочку ДНК: разноцветные нуклеотиды, хранящие в себе генетическую информацию о целом поколении рода, объединенные в цепь, которая в полном составе способна рассказать многое о владельце.
</p>
<p><strong><em>Искусственные полимеры </em></strong>– это модификация природных. Как правило, природные полимеры проходят процедуру очистки и насыщения дополнительными свойствами, после чего их можно смело отнести к классу искусственных. Продуктом такой переработки является, например, каучук модифицированный и латекса (смолы).
</p>
<p><strong><em>Синтетические полимеры</em></strong> – отдельная категория полимеров. Это двигатели технической революции. Такие материалы не имеют аналогов в природе, их получают в лабораториях при сложных условиях и химических реакциях превращения. Основа синтетических полимеров – нефтегазовая переработка, синтез углеводородов. Именно синтетические полимеры и совершили революцию орудий труда, обратив 21 век, по праву, в век высокой химии, век полимеров и пластмасс. Именно они открыли нам двери в интересный и такой полезный бизнес по переработке вторичных материалов.
</p>
<p>Так откуда же взялись синтетические полимеры, если они не имеют аналогов в природе? Рассмотрим поэтапно путь гранулы от сырой нефти до готового к переработке сырья.
</p>
<table padding="5px" cellspacing="0" border="1px solid grey">
    <tbody>
    <tr>
        <td>
            <p><strong>Этап</strong>
            </p>
        </td>
        <td>
            <p><strong>Процесс</strong>
            </p>
        </td>
        <td>
            <p><strong>Описание</strong>
            </p>
        </td>
        <td>
            <p><strong>Полезный результат</strong>
            </p>
        </td>
        <td>
            <p><strong>Отходы</strong>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p><img alt="" src="http://ok-stanok.ru/files/1/images/3(1).jpg" width="140px">
            </p>
        </td>
        <td>
            <p><strong>Добыча нефти и газа</strong>
            </p>
        </td>
        <td>
            <p>Сопровождается сгоранием в факелах попутных нефтяных газов – отходов нефтяных и газовых производств.
            </p>
            <p>Есть 2 варианта действий: загрязнять этими газами атмосферу или использовать их для дальнейших превращений.
            </p>
        </td>
        <td>
            <p><strong>Первичный сбор нефти и газа</strong>
            </p>
        </td>
        <td>
            <p><strong>Отработанные попутные газы,</strong>которые по трубопроводам поступают на следующий этап.
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong><img src="http://ok-stanok.ru/files/1/images/4(1).jpg" width="140px"></strong>
            </p>
        </td>
        <td>
            <p><strong>Газопереработка</strong>
            </p>
        </td>
        <td>
            <p>Газоперерабатывающие заводы покупают попутные газы и перерабатывают до получения специального очищенного сырья – ШФЛУ (широкая фракция легких углеводородов). Это ещё не полимеры.
            </p>
        </td>
        <td>
            <p><strong>Сухой газ,</strong>поступающий в конфорки наших домой и ТЭЦ
            </p>
        </td>
        <td>
            <p><strong>Остаточная смесь газов широкой фракции </strong>после очистки и переработки
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong><img src="http://ok-stanok.ru/files/1/images/5(1).jpg" width="140px"></strong>
            </p>
        </td>
        <td>
            <p><strong>Газофракционирование</strong>
            </p>
        </td>
        <td>
            <p>Разделение ШФЛУ на ценные фракции до жидких однородных газов
            </p>
        </td>
        <td>
            <p>Пропан, бутан, пентан, изобутан
            </p>
        </td>
        <td>
            <p><strong>Сжиженные углеводородные газы</strong>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong><img src="http://ok-stanok.ru/files/1/images/6.jpg" width="140px"></strong>
            </p>
        </td>
        <td>
            <p><strong>Пиролиз</strong>
            </p>
        </td>
        <td>
            <p>Пиролизная установка получает сжиженные углеводородные газы и нагревает их до момента, пока они не распадутся на мелкие звенья, а именно, пока не выделятся ценные газы, например, пропилен или этилен.<br>Это мономеры – сырье для полимеров.
            </p>
        </td>
        <td>
            <p>Мономеры этилена и пропилена
            </p>
        </td>
        <td>
            <p><strong>Мономеры этилена и пропилена</strong>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <p><img alt="" src="http://ok-stanok.ru/files/1/images/7(1).jpg" width="140px">
            </p>
        </td>
        <td>
            <p><strong>Производство первичных полимеров</strong>
            </p>
        </td>
        <td>
            <p>В анклавах или трубчатых реакторах происходят химические реакции полимеризации, в которых мономеры – кирпичики больших звеньев - при помощи катализаторов превращаются в полимеры
            </p>
        </td>
        <td>
            <p>Первичные полимеры
            </p>
        </td>
        <td>
            <p><strong>Первичные полимеры</strong>
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p><br>
</p>
<p>Именно так на свет появляется первичное сырьё, точнее, сырьё с заводов производителей. Таких заводов не очень много и у них, как правило, колоссальная выработка, и это неудивительно: этих объемов должно хватать на всю нашу страну и ещё немного для экспорта нашим партнерам за рубежом. Соответственно, вторичное сырьё –это сырьё, которое уже успело послужить человеку и проживает свою вторую жизнь в виде вторичной гранулы, ожидая следующей переработки. Количество таких переработок может быть очень большим, потому что синтетические полимеры – удивительно стабильные вещества.
</p>
<p><br>
</p>
<h4>Что такое термопласт?
</h4>
<p>Тот факт, что все пластмассовые изделия изначально были гранулами, а впоследствии приняли какую-либо форму изделия, говорит о том, что гранулы пережили технологический процесс превращения. Мы назовем это переработкой, и будем правы.
</p>
<p><img src="http://ok-stanok.ru/files/1/images/8.png" alt="" style="float: left; margin: 10px 20px 10px 10px;">
</p>
<p><br>
</p>
<p>Методов переработки полимеров множество, но в основе все они сводятся к тому, что гранулы в специализированном оборудовании нагревают до высокой температуры, перемешивают до однородной массы, придают этой массе нужную форму и остужают. Сформованное таким образом изделие при этом не особенно теряет в качестве, полимеры стабильные вещества. Однако не все полимеры пригодны для подобной переработки. Поэтому прямо сейчас мы введем классификацию полимеров по их пригодности к вторичной переработке. Эта классификация очень проста
</p>
<p><br>
</p>
<p>Те, что пригодны, мы назовём <strong><em>термопластами, </em></strong>а те, что непригодны–<strong><em>реактопластами.</em></strong> Интересуют нас именно <strong>термопласты</strong>, потому что на полимерах, которые нельзя переработать, нечего и заработать.
</p>
<p>Итак, термопласты, или термопластичные полимеры, - это полимеры, которые при нагревании могут спокойно нагреться, расплавиться, не растеряв своих ценных химических свойств, а вот физически способны принять любую форму при остывании, хоть седло от унитаза, хоть крышка (от него же). Именно термопластичные полимеры принимают участие в бесконечных циклах переработки пластмасс. Это явление в производстве называют рециклинг. А вот реактопласты повторную температурную обработку пережить не смогут. При повторном нагревании они полностью разрушаются. Тем не менее, реактопласты служат человеку в виде клеевых основ, мастики и прочих химических товаров.
</p>
<p><br>
</p>
<h4>Вместо итогов
</h4>
<p>На практике, понимая два эти простые и, одновременно, сложные понятия, нам не составит особого труда расшифровать научные определения представителей полимеров: <u>полипропилен</u> и <u>полиэтилен</u>. В любой литературе будет написано как-то так:
</p>
<p><strong>Полипропилен (ПП)</strong> – это синтетический термопластичный полимер, продукт полимеризации пропилена.
</p>
<p><strong>Полиэтилен (ПЭ)</strong> – это синтетический термопластичный полимер, продукт полимеризации этилена.
</p>
<p>Сложная формулировка может звучать значительно проще. Теперь мы знаем, что означает «синтетический», «термопластичный», представляет себе, что такое мономер. Непонятно только, что такое полимеризация. Полимеризация – это химическая реакция «превращения» мономера в полимер.
</p>
<p>В нашей работе важно понимать, что такое полимерное сырьё, и какие у него особенности, характеристики и свойства. Этим вопросам посвящены многие наши статьи, но начало обучения лежит именно здесь. В базовых понятиях и терминологии такой сложной и такой интересной химии полимеров.
</p>
<p><br>
</p>
<p><strong><em></em></strong><em>С уважением, генеральный директор ООО «Мировое оборудование»
    </em>
</p>
<p><em>Александра Александровна Клемина
    </em><strong><em></em></strong>
</p>