.articles-list {
  //background-color: #dff;
  border: 1px solid $clrGrayBG;
  overflow: hidden;
  .articles-list__header {
    color: $clrGrayBG;
    display: block;
    //background-color: #aff;
    border-bottom: 1px solid $clrGrayLight;
    font-weight:bold;
    padding: $gap*2;
    
  }
  .articles-list__anchor {
    display: table;
    text-decoration: underline;
    color: $clrMain1;
    margin: $gap $gap*2;
    border: none;
    
    &:hover {
      color: $clrAcc;
    }
  }
}