<div class="jeContainerFluid jumbo-list jumbo-list_periphery">
    <div class="jeContainer jumbo-list__content">
        <p class="jumbo-list__header"><span>Периферия</span></p>
        {{ include('Includes/Cards/CardExtended.twig', {text: 'bar', has_extended_links: 'true'}) }}
        {{ include('Includes/Cards/CardExtended.twig', {text: 'Lorem ipsum consectetur!', has_extended_links: 'true'}) }}
        {{ include('Includes/Cards/CardExtended.twig', {text: 'Item3'})  }}
        {{ include('Includes/Cards/CardExtended.twig', {text: 'Next cool stuff item'}) }}
        <div style="clear: both"></div>
        <a href="#" class="btn btn_secondary btn_text-black btn_text-bold jumbo-list__view-all">
            <span class="hidden-md-and-more">ПОСМОТРЕТЬ ВСЕ</span>
            <span class="hidden-sm-and-less">ПОСМОТРЕТЬ ВСЮ ПЕРИФРИЮ</span>
        </a>
        <div style="clear: both"></div>
        <br>
        <br>
    </div>
</div>