<div class="jeContainerFluid jumbo-list jumbo-list_spares jumbo-list_rtl">
    <div class="jeContainer jumbo-list__content">
        <p class="jumbo-list__header"><span>Запчасти</span></p>
        <div class="spares-on-main">
            <div class="spares-on-main__first">
                {% for item in [1,2,3,4,5,6, 7,8,9,10,11,12] %}
                {#{% for item in [1,2,3,4,5,6] %}#}
                    {{ include('Includes/icon-spare-type.twig', {
                        name: 'для <br> стренгорезов ' ~ loop.index,
                        img: '/img/markup-temp/icon-thrash.png',
                        imgActive: '/img/markup-temp/icon-thrash-active.png',
                    }) }}
                {% endfor %}
            </div>
            <div class="spares-on-main__second">
                {% for item in [1,2,3,4,5,6] %}
                    <a href="#" class="btn btn_secondary-moody btn_text-black  btn_small">{{ loop.index }}.Двигатели</a>
                {% endfor %}
            </div>
        </div>
        <br class="hidden-xs-and-less">
        <br class="hidden-md-and-less">&nbsp;
        <a href="#" class="btn btn_secondary-moody btn_text-black btn_text-bold jumbo-list__view-all">
            <span class="hidden-md-and-more">ПОСМОТРЕТЬ ВСЁ</span>
            <span class="hidden-sm-and-less">ПОСМОТРЕТЬ ВСЕ ЗАПЧАСТИ</span>
        </a>
        <br>
        <br>&nbsp;
        <br>&nbsp;


    </div>
</div>