@import './Shared/shared';
@import './Includes/JumboList/JumboList';
@import "~slick-carousel/slick/slick.css";

/* Тестовый стиль */
.clearfix {
  overflow: auto;
  overflow-x: hidden;
  @media screen and (max-width: 799px) {
    overflow-y: hidden;
  }
  zoom: 1;
}
.jeContainerFluid > .jeContainer + .jeContainer-mod.no-menu {
  @media screen and (min-width: 800px) {
    margin-top: 86px;
  }
}

.hide-on-mobile {
  display: block;
  @media screen and (min-width: 320px) and (max-width: 799px) {
    display: none;
  }
}
.no-pad-on-mobile {
  @media screen and (min-width: 320px) and (max-width: 720px) {
    padding: 0;
  }
}


.show-on-mobile {
  display: none;
  @media screen and (min-width: 320px) and (max-width: 799px) {
    display: block;
  }
}

.jeContainer-mod {
  margin: 0 auto;
  box-sizing: border-box;
  @media screen and (min-width: 320px) {
    width: 100%;
  }
  @media screen and (min-width: 800px) {
    width: 803px;
  }
  @media screen and (min-width: 1080px) {
    width: 1083px;
  }
  @media screen and (min-width: 1400px) {
    width: 1403px;
  }
}

.page-header {
  margin-top: 30px;
}

#block1,
#block2,
#block3 {
  position: relative;
  margin-bottom: 25px;
  &:before {
    content: '';
    display: block;
    width: calc(100% - 40px);
    height: 8px;
    background-color: #1b75bc;
    margin: 0 auto 50px;
    @media screen and (max-width: 799px) {
      background-color: #91937d;
    }
  }
}

#block2 {
  &:before {
    width: 100%;
    background-color: #508093;
    @media screen and (max-width: 799px) {
      background-color: #91937d;
    }
    @media screen and (max-width: 720px) {
      width: calc(100% - 40px);
    }
  }
}
#block3 {
  &:before {
    width: calc(100% - 40px);
    background-color: #91937d;
    @media screen and (max-width: 799px) {
      background-color: #508093;
    }
  }
}

.nav-element {
  width: calc(100% - 40px);
  margin: 0 auto;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  &.first {
    background-color: #1b75bc;
  }
  &.second {
    background-color: #508093;
    width: 100%;
    @media screen and (max-width: 720px) {
      width: calc(100% - 40px);
    }
  }
  &.third {
    background-color: #91937d;
  }
}

#navigation {
  margin-top: 30px;
  position: static;
}
#navigation.fixed {
  position: fixed;
  top: 110px;
  width: inherit;
  z-index: 3;
  padding-right: 36px;
  margin-left: 0;
  @media screen and (min-width: 320px) and (max-width: 1080px) {
    top: 75px;
  }
}
#navigation ul {
  width: 100%;
  padding-left: 0;
  margin: 0 auto;
  display: block;
}
#menu li {
  float: left;
  list-style: outside none none;
  text-align: center;
  width: 33.3333%;
  /* padding: 7px 0; */
}

#menu a {
  font-size: 1.3em;
  text-transform: uppercase;
  border: none;
  color: white;
  text-decoration: none;
  padding: 15px 0;
  display: inherit;
  @media screen and (min-width: 320px) and (max-width: 1080px) {
    font-size: 1.1em;
  }
}
#menu li.active {
  transition: all 0.2s ease 0s;
  border: 3px solid #e8ac42 !important;
}
#menu li.level1 {
  background-color: #1A75BC;
  border: 3px solid #1A75BC;
}
#menu li.level2 {
  background-color: #518094;
  border: 3px solid #518094;
}
#menu li.level3 {
  background-color: #91937D;
  border: 3px solid #91937D;
}
#menu li.level4 {
  background-color: #7E8E84;
  border: 3px solid #7E8E84;
}
#menu a:hover {
  text-decoration: none;
}

.photo-wrapper {
  @media screen and (max-width: 800px) {
    text-align: center;
  }

  .title {
    font-size: 18px;
    line-height: 1;
    font-weight: 500;
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    @media screen and (max-width: 800px) {
      text-align: left;
    }

    a {
      color: #1b75bc;
      text-decoration: none;
      border: none;
      &:hover {
        text-decoration: underline;
      }
      @media screen and (max-width: 799px) {
        color: #fff;
      }
    }
  }

  & .item-category {
    width: 100%;
    opacity: 1 !important;
    height: 317px;
    background: url(img/gallery/bg3.png) 50% 50% no-repeat;
    background-size: cover;
    .img-wrapper {
      height: 100%;
    }
    @media screen and (max-width: 350px) {
      height: 277px;
    }
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      left: 100%;
      top: 50%;
      margin-top: -25px;
      border: 19px solid transparent;
      transition: border-color .3s;
      @media screen and (min-width: 320px) and (max-width: 720px) {
        left: 50%;
        top: 100%;
        margin: 0 0 0 -19px;
      }
      @media screen and (min-width: 720px) and (max-width: 1080px) {
        display: none;
      }
    }
    &.active {
      .caption-left,
      .caption-right {
        background: rgba(234, 173, 65, 0.702);
      }
      .caption-left {
        .title {
          a {
            color: #fff;
          }
        }
      }
    }
    @media screen and (min-width: 1079px) {
      &:hover {
        .caption-left,
        .caption-right {
          background: rgba(234, 173, 65, 0.702);
        }
        .caption-left {
          .title {
            a {
              color: #fff;
            }
          }
        }
      }
    }
    &.active {
      &:after {
        border-left-color: rgba(234, 173, 65, 0.702);
        @media screen and (max-width: 720px) {
          border-left-color: transparent;
          border-top-color: rgba(234, 173, 65, 0.702);
        }
      }
    }

    & .caption-right {
      position: absolute;
      top: 0;
      right: 0;
      width: 107px;
      height: 100%;
      text-align: center;
      background: rgba(27, 117, 188, 0.702);
      transition: background .3s;
      @media screen and (max-width: 799px) {
        width: 100%;
        height: 70px;
        top: auto;
        bottom: 0;
      }

      & .icon {
        text-align: center;
        position: relative;
        top: 50%;
        width: 53px;
        height: 53px;
        margin-top: -27px;
        @media screen and (max-width: 799px) {
          width: 40px;
          height: 40px;
          margin-top: -20px;
        }
      }
    }

    .caption-left {
      position: absolute;
      bottom: 19px;
      left: 19px;
      width: calc( 100% - 38px - 107px);
      height: 60px;
      background: rgba(255, 255, 255, 0.651);
      box-sizing: border-box;
      padding: 0 10px;
      transition: background .3s;
      @media screen and (max-width: 799px) {
        width: 100%;
        bottom: auto;
        left: 0;
        top: 0;
        padding: 0 20px;
        background-color: rgba(27,117,188,.702);
      }
    }
  }

  & .item-photo {
    display: none;
    box-sizing: border-box;
    border: 3px solid #eaad41;
    @media screen and (max-width: 799px) {
      display: none !important;
    }
    &.show {
      @media screen and (max-width: 799px) {
        display: inline-block !important;
      }
    }

    .img-wrapper {
      height: 70%;
      background: url(img/gallery/placeholder.jpg) 50% 50% no-repeat;
      background-size: cover;
    }

    .caption-bottom {
      box-sizing: border-box;
      padding: 25px;
      height: 30%;
      font-weight: 500;
      background-color: rgba(145, 147, 125, 0.851);
    }

    .title {
      a {
        color: #fff;
      }
    }
  }
  & .item {
    cursor: pointer;
    position: relative;
    height: 317px;
    float: left;
    box-sizing: border-box;
    margin: 0 20px 30px;

    @media screen and (max-width: 350px) {
      margin: 0 auto 20px;
    }
    clear: inherit;
    @media screen and (min-width: 320px) {
      width: 315px;
      float: none;
      vertical-align: top;
    }
    @media screen and (min-width: 320px) and (max-width: 800px) {
      display: inline-block;
    }
    @media screen and (min-width: 800px) {
      height: 367px;
      width: calc(50% - 40px);
      float: left;
    }
    @media screen and (min-width: 1080px) {
      width: calc(33.3333% - 40px);
      height: 317px;
    }
    @media screen and (min-width: 1400px) {
      width: calc(25% - 40px);
    }

    &.clear-left {
      clear: left;
    }

    &.clear-right {
      clear: right;
    }

    .img-wrapper {
      overflow: hidden;
      width: 100%;

      .img-title {
        height: 100%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

.block-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @media screen and (max-width: 720px) {
    display: block;
  }
}

.video-el {
  margin: 0 41px 33px 0;
  height: 275px;
  border: 5px solid #508093;
  box-sizing: border-box;
  @media screen and (min-width: 320px) and (max-width: 720px) {
    width: 315px;
    margin: 0 auto 25px;
    &:last-child {
      margin-bottom: 10px;
    }
  }
  @media screen and (max-width: 799px) {
    border: none;
    margin-bottom: 0px;
  }
  @media screen and (min-width: 721px) and (max-width: 1079px) {
    width: calc(50% - 20.5px);
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
  @media screen and (min-width: 1080px) and (max-width: 1399px) {
    width: calc(33.333% - 27.3333px);
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
  @media screen and (min-width: 1400px) {
    width: calc(25% - 30.75px);
    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  .video-container {
    width: 100%;
    height: 231px;
    background: url(img/gallery/ico-play.png) #555 no-repeat center center;

    iframe {
      width: 100%;
      height: 231px;
    }
  }

  .caption-bottom {
    box-sizing: border-box;
    padding: 5px;
    height: calc(100% - 231px);
    background-color: #508093;
    @media screen and (max-width: 799px) {
      background-color: #fff;
      padding: 5px 20px;
    }
  }

  .title {
    color: #fff;
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
    border-bottom: none;
    font-family: "Roboto Regular";
    &:hover {
      color: #fff;
      border-bottom: 1px solid #fff;
    }
    @media screen and (max-width: 799px) {
      color: #555;
    }
  }
}

.slider-four-el {
  position: relative;
  margin-bottom: 200px;
  @media screen and (max-width: 800px) {
    width: 335px;
    margin: 0 auto 200px;
  }
  @media screen and (max-width: 350px) {
    width: 315px;
    margin: 0 auto 200px;
  }

  .slider-img-wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  .slider-img {
    height: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .slider-item  {
    width: calc(25% - 40px);
    opacity: 1 !important;
    height: 220px;
    @media screen and (max-width: 1080px) {
      height: 260px;
    }
    @media screen and (max-width: 800px) {
      margin: 0 auto;
      height: 235px;
    }
    background: url(img/gallery/bg3.png) 50% 50% no-repeat;
    background-size: cover;
    margin: 0 20px;
    overflow: hidden;
    cursor: pointer;
  }

  .slick-slide {
    outline: none;
  }
  .slick-arrow {
    position: absolute;
    top: 0;
    z-index: 1;
    background: rgba(145, 147, 125, 0.702);
    border: none;
    height: 100%;
    width: 36px;
    padding: 0;
    cursor: pointer;
    outline: none;

    & img {
      width: 16px;
    }
  }

  .slider-prev-arw {
    left: 20px;
    @media screen and (max-width: 800px) {
      left: 0;
    }
  }
  .slider-next-arw {
    right: 20px;
    @media screen and (max-width: 800px) {
     right: 0;
    }
  }
}

.modal-slider {
  width: 1000px;
  position: relative;
  @media screen and (min-width: 320px) and (max-width: 799px) {
    width: 100%;
  }
  @media screen and (min-width: 800px) and (max-width: 1079px) {
    width: 780px;
  }
  @media screen and (min-width: 1080px) and (max-width: 1399px) {
    width: 900px;
  }

  .slick-slide {
    outline: none;
  }

  &-container {
    position: fixed;
    z-index: 900;
    left: 50%;
    top: 50%;
    margin: -395px 0 0 -500px;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
    @media screen and (min-width: 320px) and (max-width: 799px) {
      left: 0;
      transform: translateY(-50%);
      margin: 0;
      width: 100%;
    }
    @media screen and (min-width: 800px) and (max-width: 1079px) {
      margin: -200px 0 0 -390px;
    }
    @media screen and (min-width: 1080px) and (max-width: 1399px) {
      margin: -225px 0 0 -450px;
    }
    @media screen and (min-width: 1400px) {

    }
    &.active {
      opacity: 1;
      pointer-events: auto;
      transition: opacity .3s .3s;
    }

    .close-btn {
      position: absolute;
      left: calc(100% + 10px);
      bottom: calc(100% + 5px);
      cursor: pointer;
      @media screen and (min-width: 320px) and (max-width: 799px) {
        left: auto;
        right: 10px;
      }

      img {
        width: 25px;
        height: 25px;
      }
    }
  }

  &-bg {
    position: fixed;
    z-index: 800;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.47);
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s .3s;
    &.active {
      opacity: 1;
      pointer-events: auto;
      transition: opacity .3s;
    }
  }

  .slider-item {
    width: 100%;
    overflow: hidden;

    .slider-img-wrapper {
      width: 100%;
      height: 700px;
      background: url(img/gallery/placeholder.jpg) 50% 50% no-repeat;
      background-size: cover;
      @media screen and (min-width: 320px) and (max-width: 799px) {
        height: 350px;
      }
      @media screen and (min-width: 800px) and (max-width: 1079px) {
        height: 400px;
      }
      @media screen and (min-width: 1080px) and (max-width: 1399px) {
        height: 450px;
      }
      @media screen and (min-width: 1400px) {

      }

      .slider-img {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        height: 100%;
      }
    }
    .slider-title {
      width: 100%;
      height: 90px;
      box-sizing: border-box;
      padding: 0 45px;
      background-color: #91937d;
      @media screen and (min-width: 320px) and (max-width: 799px) {
          padding: 0 20px;
          height: 70px;
      }

      .title {
        font-size: 36px;
        font-weight: 500;
        line-height: 1.528;
        color: #fff;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        @media screen and (min-width: 320px) and (max-width: 799px) {
          font-size: 20px;
        }
      }
    }
  }
  .slick-arrow {
    position: absolute;
    top: 0;
    z-index: 100;
    background: rgba(80, 128, 147, 0.59);
    border: none;
    height: calc(100% - 90px);
    width: 150px;
    padding: 0;
    cursor: pointer;
    outline: none;
    @media screen and (min-width: 320px) and (max-width: 799px) {
      width: 60px;
    }

    & img {
      width: 16px;
    }
  }

  .slider-prev-arw {
    left: 0;
  }
  .slider-next-arw {
    right: 0;
  }
}
