@import './Shared/shared';
@import './Includes/JumboList/JumboList';
@import './static.scss';
@import './Includes/Cards/_CardManager';
@import './Includes/Cards/_CardManager__sidebar';

.static-page__sidebar {
  @media (max-width: $screen-lg) {
    display: block !important;
    width: 100%;
  }

  .static-page__sidebar-item {
    @media (max-width: $screen-lg) {
      display: none;
    }
  }
}
