@import './Shared/shared';
@import './Includes/JumboList/JumboList';

.clearfix {
  overflow: auto;
  overflow-x: hidden;
  @media screen and (max-width: 799px) {
    overflow-y: hidden;
  }
  zoom: 1;
}


/* Icon font styles */
$icomoon-font-path: "fonts" !default;

$ok-ico-add: "\e900";
$ok-ico-minus: "\e901";
$ok-ico-readd: "\e902";
$ok-ico-remove: "\e903";
$ok-ico-ruble: "\e904";

@font-face {
  font-family: 'ok-font';
  src:  url('#{$icomoon-font-path}/ok-font.eot');
  src:  url('#{$icomoon-font-path}/ok-font.eot') format('embedded-opentype'),
  url('#{$icomoon-font-path}/ok-font.ttf') format('truetype'),
  url('#{$icomoon-font-path}/ok-font.woff') format('woff'),
  url('#{$icomoon-font-path}/ok-font.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ok-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ok-ico-add {
  &:before {
    content: $ok-ico-add;
  }
}
.ok-ico-minus {
  &:before {
    content: $ok-ico-minus;
  }
}
.ok-ico-readd {
  &:before {
    content: $ok-ico-readd;
  }
}
.ok-ico-remove {
  &:before {
    content: $ok-ico-remove;
  }
}
.ok-ico-ruble {
  &:before {
    content: $ok-ico-ruble;
  }
}

.title-page {
  text-align: center;
  margin-top: 36px;
  margin-bottom: 0;
  color: #333;
  font-weight: 500;
  text-transform: uppercase;
}

.main-cart {
  padding: 36px 0 0;
  & p,
  & a {
    color: #618c9e;
    margin: 0;
  }
  .cart-item {
    &:first-child {
      display: none;
    }
  }
  a {
    &:hover {
      color: #eaad41;
    }
  }
  .total-sum {
    padding: 35px 72px 35px 0;
    margin-bottom: 72px;
    text-align: right;
    background-color: #608b9c;
    @media screen and (max-width: 480px) {
      padding: 35px 0 35px 0;
      text-align: center;
    }
    p {
      margin: 0;
    }
    .sum-text {
      padding-right: 70px;
      font-size: 20px;
      font-weight: 500;
      color: #fff;
      vertical-align: middle;
      @media screen and (max-width: 480px) {
        padding-right: 18px;
      }
    }
    i {
      font-size: 24px;
      color: #eaad41;
      vertical-align: middle;
      padding-right: 7px;
    }
    .total-sum-price {
      color: #eaad41;
      font-size: 24px;
      font-weight: 700;
      vertical-align: middle;
    }

  }
}

.cart-item {
  position: relative;
  border: 2px solid #91937d;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 36px;
  background-color: #fff;

  @media screen and (max-width: 649px) {
    justify-content: center;
    padding-top: 36px;
  }

  &.component {
    .name {
      a {
        text-transform: initial;
      }
    }
  }

  &.deleted {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(255,2555,255,.7);
      z-index: 1;
    }

    .buttons {

      & .remove {
        color: #91937d;
        opacity: 0;
        z-index: -1;
        &:hover {
          opacity: 0;
        }
      }

      & .readd {
        color: #1b75bc;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 1;
        z-index: 1;
        @media screen and (max-width: 1079px) {
          left: 50%;
          margin-left: -18px;
        }
        &:hover {
          opacity: .8;
        }
      }
    }
  }

  .image {
    a {
      border-bottom: none;
    }
    img {
      height: 135px;
      width: 191px;
    }
  }
  .art {
    text-align: center;
    a {
      font-size: 17px;
    }
    .art-num {
      font-weight: 500;
    }
  }
  .name {
    a {
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 500;
    }
  }
  .count {
    text-align: center;
    p {
      position: relative;
      display: inline-block;
      width: 40px;
      text-align: center;
      vertical-align: middle;
      margin: 0;
    }
    .num-btn {
      width: 22px;
      height: 22px;
      background: none;
      border: none;
      outline: none;
      text-align: center;
      font-size: 22px;
      vertical-align: middle;
      padding: 0;
      cursor: pointer;
      &:hover {
        i {
          color: #a68d4a;
        }
      }
      i {
        color: #618c9e;
        transition: color .2s;
      }
    }
    &-num {
      font-size: 20px;
      font-weight: 500;
    }
    .abs-pos {
      position: absolute;
      top: 100%;
      left: 0;
      font-weight: 400;
      font-size: 14px;
      width: 100%;
    }
  }
  .price {
    text-align: center;
    p {
      font-weight: 500;
      font-size: 20px;
      span {
        position: relative;
        vertical-align: middle;
      }
      i {
        vertical-align: middle;
        padding-right: 5px;
      }
      .abs-pos {
        position: absolute;
        top: 80%;
        left: 0;
        font-weight: 400;
        font-size: 14px;
        width: 100%;
      }
    }
  }
  .total-price {
    text-align: center;
    p {
      color: #a68d4a;
      font-size: 20px;
      font-weight: 500;
    }

    i {
      vertical-align: middle;
      padding-right: 5px;
    }
    span {
      vertical-align: middle;
    }
  }

  .buttons {
    &-wrapper {
      position: relative;
      line-height: 1;
      z-index: 2;
      left: 18px;
      @media screen and (max-width: 1079px) {
        left: 0;
        text-align: center;
      }

      button {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        transition: opacity .2s;
        outline: none;
        i {
          font-size: 36px;
        }
      }
    }

    & .remove {
      color: #91937d;
      opacity: 1;
      position: relative;
      z-index: 1;
      &:hover {
        opacity: .8;
      }
    }

    & .readd {
      color: #1b75bc;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      z-index: -1;
    }
  }
}

.cart-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.cart-col {
  line-height: 1;
  &.image {
    width: 191px;
    line-height: 0;
  }
  &.art {
    width: 120px;
    @media screen and (max-width: 649px) {
      width: 100%;
      padding: 18px 0;
    }
  }
  &.name {
    width: calc(100% - 807px);
    @media screen and (max-width: 1079px) {
      width: calc(100% - 311px);
    }
    @media screen and (max-width: 649px) {
      width: 100%;
      padding: 18px 36px;
      text-align: center;
    }
  }
  &.count {
    width: 120px;
    @media screen and (max-width: 1079px) {
      width: 25%;
      padding: 36px 0;
    }
    @media screen and (max-width: 649px) {
      width: 50%;
      padding: 18px;
    }
  }
  &.price {
    width: 144px;
    @media screen and (max-width: 1079px) {
      width: 27.5%;
      padding: 33px 0;
    }
    @media screen and (max-width: 649px) {
      width: 50%;
      padding: 18px;
    }
  }
  &.total-price {
    width: 144px;
    @media screen and (max-width: 1079px) {
      width: 27.5%;
      padding: 34px 0;
    }
    @media screen and (max-width: 649px) {
      width: 100%;
      padding: 18px 0;
    }
  }
  &.buttons {
    width: 88px;
    @media screen and (max-width: 1079px) {
      width: 20%;
      padding: 28.5px 0;
    }
    @media screen and (max-width: 649px) {
      width: auto;
      padding: 0;
      position: absolute;
      top: -2px;
      right: -2px;
      padding: 0;
    }
  }
}


/* Card manager styles */
.cart-secondary .card-manager {
  overflow: auto;
  background-color: #508093;
  border: 2px solid #508093;
  padding: 18px;
  opacity: 1;
  margin-bottom: 0;
  transition: opacity .5s,display start .5s;

  @media screen and (max-width: 1079px) {
    width: 100%;
  }
}

@media (min-width: 560px) {
  .card-manager {
    float:left;
    width: calc(50% - 18px);
    margin-right: 36px
  }

  .card-manager:nth-child(2n) {
    margin-right: 0
  }
}

@media (min-width: 1400px) {
  .card-manager {
    float:left;
    width: calc(((100% - 9px*8 - 1px) / 3))
  }

  .card-manager,.card-manager:nth-child(2n) {
    margin-right: 36px
  }

  .card-manager:nth-child(3n) {
    margin-right: 0
  }
}

@media (min-width: 1400px) {
  .card-manager {
    float:left
  }
}

.card-manager .img-wrapper {
  position: relative;
  display: block;
  width: 155px;
  margin: 0 auto;
  height: 200px;
  border: 3px solid #fff;
  overflow: hidden
}

.card-manager .img-wrapper:before {
  content: "";
  display: block;
  position: relative;
  padding-top: 100%
}

@media (min-width: 1080px) {
  .card-manager .img-wrapper {
    float:left;
    width: 155px
  }
}

.card-manager .img-wrapper img {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  transition: all .2s
}

.card-manager .img-wrapper:hover img {
  transform: scale(1.05)
}

.card-manager .about-1 {
  overflow: hidden;
  display: block;
  border-bottom: none!important
}

@media (min-width: 1080px) {
  .card-manager .about-1 {
    float:left;
    margin-left: 18px;
    width: calc(100% - 155px - 18px)
  }
}

@media (max-width: 1079px) {
  .card-manager .about-1 {
    margin-top:18px
  }
}

.card-manager .about-1 .lastname {
  font-size: 1.5em;
  line-height: 22px;
  margin-bottom: 3px;
  transition: all .2s
}

.card-manager .about-1 .firstname,.card-manager .about-1 .lastname {
  color: #eaad41;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  border-bottom: 1px solid transparent
}

.card-manager .about-1 .firstname {
  font-size: 18px;
  height: 45px
}

.card-manager .about-1 .post-title,.card-manager .about-1 .post-val,.card-manager .about-1 .spec-title,.card-manager .about-1 .spec-val {
  font-size: 1em;
  margin-bottom: 0
}

.card-manager .about-1 .post-val,.card-manager .about-1 .spec-val {
  color: #eaad41;
  height: 40px
}

.card-manager .about-1 .spec-title {
  margin-top: 4px
}

.card-manager .about-1:hover {
  border-bottom: none!important
}

.card-manager .about-1:hover .firstname,.card-manager .about-1:hover .lastname {
  border-bottom: 1px solid #eaad41;
  transition: all .2s
}

.card-manager .about-2 {
  overflow: hidden;
  margin-top: 18px
}

.card-manager .about-2 a {
  display: inline-block;
  color: #fff;
  border-bottom: 1px solid transparent;
  transition: all .2s;
  height: 30px;
  padding-left: 34px;
  position: relative
}

.card-manager .about-2 a span {
  display: inline-block;
  margin-top: 3px;
  border-bottom: 1px solid #fff
}

.card-manager .about-2 a:hover {
  color: #eaad41;
  border-bottom: 1px solid transparent
}

.card-manager .about-2 a:hover span {
  border-bottom: 1px solid #eaad41
}

.card-manager .about-2 a:before {
  display: block;
  position: absolute;
  content: '';
  height: 25px;
  width: 25px;
  left: 0;
  background-repeat: no-repeat;
  background-position: 50%
}

.card-manager .about-2 a.phone:before {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAAAr0lEQVRIx+2VsQ3CMBBFn5G3yABuwwRhBEqkLBEkxsgaSJSswAa0GSBzfNrkcpaIhCgs/+6+3vkXpzuDI0mD1mozXGu4weMO/EE1ZJdiZlidqXtJJ4drbJ+kDRTkuT9WQTMBjo7fA7dFfQEmh0vAY1GPwH0TEkJ4W9MZ8pThrDV7XDkzKSckZs643eSU2dlk+7z36sbvUgSujt8B50U9ArPDNawvwxN4fZVc//jyQz4s3nnwbAXVpwAAAABJRU5ErkJggg==)
}

.card-manager .about-2 a.mail:before {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAABrUlEQVRIx73UL2hVYRzG8ffeTSYqMhmTBRFuELTIQJNRDcNk0jAQQbRZ1GAQDBaTQTCJIBaTTXAuLAg2yzAYFmQDmQwviogoc/sY7nvk9d25nnuOV590OO/ze77v318INYRzWME1jNSpHSS8g+d+1yscHkb4CK7gq3Kt4xbGmgKm42xTvcUlLGb/3+BYnfDtuI0fScgG7mBn9GzDDXxPPJu4i11VgONYyma5iKN9/AfxMvMvY6bMvAcPMvM3XMdoxcTauIwvWf0jTBSmM3ifGRZwoOYZ7sdclrOGsyH7+REX0Gp0W8Kvt9RNQ1PIMqaahmegyfhot0DgIcb/EjCBx/1WUmgFJxsCTpecbymk0D3sGDB8PO5CqVJIF8+y8SUVLxmn8C6re4IPZZBVtPTaRnrnN/Q6wFgWvhv3s/AuZuP4aikkCejgRRbwGtNx/ER6e6KeprezEhJNbVzVe/mF1mNYqk84X7KN1ZDEfMjWblxoHvv61A0OiQWjuBlXAp9x0R86Q21IUnhEr/F1BvA2g9RRCmkPM7ifWhC/N0MIa0PM3htCaOeQf6b/sl0/AaffBoF3OI7HAAAAAElFTkSuQmCC)
}

.card-manager .about-2 a.page:before {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAABLUlEQVRIx+3UzypFURTH8bX9yc0TGBlIKYmSuib3DbyGlJEMmDCQiYm8gkcwMGZKSXdAESZMPIHIn4/JOXWcDu69IcV3uPqt32+199o7okWQMIcbzCK12ttqwDD2vWUPQ19h3o1F3KnmDgvo7jRgDAcl0wvM46pUP8BoO+a9WMVDweQZm+jPNP3Yyuo5D1hB72cBU2iWpjxB/R39NE5L+iamqsQ1bOCpIH7EGvo+GawP65k+5ynzq+WiBs5K0xxhvM07nMj6ipyhEXgpFO+xhJ4Ol6UHy5lPzkuCTHMZETMppfOK5smIGKzwvU4pHVfoRyJiNyKG80LOzgcTbr/zTrY/6NnJRV2dHEu7/If8vpCWtqtD3//t+ushxQ/yNiIOv9C7HhED5ZBv40eO6xXX4u8cRH3nDgAAAABJRU5ErkJggg==)
}

.card-manager .card-manager--hidden {
  transition: opacity .5s,display .5s step-end;
  opacity: 0;
  display: none
}

.card-manager {
  display: block;
  float: none;
  margin-right: 0;
  width: 100%
}

.card-manager .img-wrapper {
  float: none
}

.card-manager .about-1 {
  float: none;
  margin-left: 0;
  width: 100%;
  margin-top: 18px
}

@media (min-width: 560px) and (max-width:1079px) {
  .card-manager .img-wrapper {
    float:left
  }

  .card-manager .about-1 {
    float: left;
    margin-left: 18px;
    width: calc(100% - 173px);
    margin-top: 18px
  }
}

/* Cart secondary */

.cart-secondary {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  & .static-page__sidebar  {
    width: 300px;
    margin-right: 36px;
    @media screen and (max-width: 1079px) {
      width: 100%;
      margin-right: 0;
    }
  }
  & .cart-s-title {
    color: #333;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    height: 61px;
    margin: 0;
    @media screen and (max-width: 1079px) {
      margin-top: 36px;
      height: auto;
      margin-bottom: 36px;
    }
  }

  .static-page__half-col {
    width: calc(50% - 186px);
    @media screen and (max-width: 1079px) {
      width: 100%;
    }
  }

  .with-m {
    margin-right: 36px;
    @media screen and (max-width: 1079px) {
      margin-right: 0;
    }
  }

  .component-for-products {
    border: 2px solid #508093;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fff;
    @media screen and (max-width: 1399px) {
      max-height: 678px;
    }
    @media screen and (min-width: 1400px) {
      max-height: 571px;
    }
  }
  .contact-form {
    border: 2px solid #508093;
    background-color: #fff;
    padding: 36px;

    @media screen and (max-width: 370px) {
      padding: 36px 10px;
    }
  }

  a {
    color: #618c9e;
    &:hover {
      color: #eaad41;
    }
  }

  .cart-item {
    border: none;
    border-bottom: 2px solid #a68d4a;
    @media screen and (max-width: 1079px) {
      &:last-child {
        border-bottom-color: transparent;
      }
    }
    padding: 20px 0;
    margin-bottom: 0;
    &.added {
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255,2555,255,.7);
        z-index: 1;
      }
    }
  }
  .cart-col.art {
    width: 90px;
    @media screen and (max-width: 539px) {
      width: 100%;
      padding-top: 0;
    }
    & a {
      font-size: 14px;
      color: #618c9e;
      &:hover {
        color: #eaad41;
      }
      & .art-num {
        font-size: 17px;
      }
    }
  }
  .cart-col.add-to-cart {
    width: 130px;
    @media screen and (max-width: 539px) {
      padding: 0;
    }
    & .btn-add-cart {
      background: none;
      border: 2px solid #1b75bc;
      text-align: center;
      color: #1b75bc;
      font-weight: 500;
      font-size: 14px;
      padding: 0;
      width: 119px;
      height: 60px;
      cursor: pointer;
      transition: color .2s, border .2s;
      &:hover {
        border: 2px solid #eaad41;
        color: #eaad41;
      }
    }
  }
  .cart-col.name {
    width: calc(100% - 220px);
    @media screen and (max-width: 649px) {
      text-align: left;
    }
    @media screen and (max-width: 539px) {
      text-align: center;
      width: 100%;
      padding: 0 0 24px;
    }
    a {
      font-size: 17px;
      line-height: 1.5;
      &:hover {
        color: #eaad41;
      }
    }
  }
}

.request-manager-form {
  .form-el {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 18px;
    &:last-child {
      margin-bottom: 0;
    }
   & select,
   & input,
   & textarea {
      padding-left: 5px;
      border: 2px solid #91937d;
      transition: border-color .2s;

     &:focus,
     &:active{
       border: 2px solid #1b75bc;
       outline: none;
     }
    }
    & select,
    & input {
      width: 294px;
      height: 44px;
      @media screen and (max-width: 1079px) {
        width: 394px;
      }
      @media screen and (max-width: 539px) {
        width: 100%;
      }
    }

    & input,
    & textarea {
      padding-left: 10px;
    }

    & textarea {
      width: 100%;
      height: 110px;
      padding-top: 10px;
    }

    label {
      font-weight: 700;
      display: inline-block;
      width: calc(100% - 294px);
      @media screen and (max-width: 1399px) {
        width: 100%;
      }
      @media screen and (max-width: 1079px) {
        width: calc(100% - 394px);
      }
      @media screen and (max-width: 539px) {
        width: 100%;
      }
    }
  }
}
.submit-form {
  width: 100%;
  text-align: center;
  font-weight: 500;
  border: none;
  height: 44px;
  text-transform: uppercase;
  background-color: #1b75bc;
  color: #fff;
  cursor: pointer;
  margin-top: 36px;
  transition: background-color .2s;
  &:hover {
    background-color: #eaad41;
  }
}

.padd-bottom {
  padding-bottom: 72px;
}

.popup-for-form {
  .je-alertino__modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.je-alertino--open .je-alertino__overlay {
    background-color: rgba(0,0,0,.47); 
  }

  .je-alertino__content {
    padding-top: 54px !important;
    padding-bottom: 44px !important;
    h3 {
      &:first-child {
        text-transform: uppercase;
        font-weight: 500;
      }
      text-align: center;
      color: #fff;
      line-height: 1.5;
    }
  }
}
