@import './Shared/shared';
@import './Includes/JumboList/JumboList';
@import './Includes/Cards/CardManager';
@import './Includes/Cards/CardManager__sidebar';

.static-page {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  @media (max-width: #{$screen-lg}) {
    flex-direction: column-reverse;
  }

  .static-page__sidebar {
    margin-bottom: 10px;
    @media (min-width: #{$screen-lg}) {
      display: block;
      align-self: flex-start;
      width: 300px;
      margin-right: 36px;
    }
  }

  .static-page__main-content {
    width: 100%;

    @media (min-width: #{$screen-lg}) {
      display: block;
      align-self: flex-start;
      width: calc(100% - (300px + 36px));
    }

  }

  .article-text {
    padding: 18px;
    background-color: white;
    margin-bottom: 18px;
    transition: all 0.5s;
    display: block;
    min-height: 10px;

    img {
      max-width: 100%;
    }
  }

  .article-text:after {
    content: "";
    display: block;
    clear: both;
  }

  .boredered {
    border: 1px solid $clrGrayBG;
  }
}