.hamburger {
  //outline: 1px solid darkred;
  cursor: pointer;

  z-index: 30;
  //position: absolute;
  position: fixed;
  top: 35px;
  left: $gap*2;
  
  $transition-gap: 0.03s;
  transition: all $timeMed;
  transition-duration: $timeMed - $transition-gap*5;
  transition-delay: 0.0s;  //стопудово подходит под 320
  
  .hamburger__top-block,
  .hamburger__mid-block,
  .hamburger__bot-block {
    width: 36px;
    height: 8px;
    margin-bottom:5px;
    background-color: white;
    transition: all $timeMed;
  }
  
  .hamburger__top-block {}
  .hamburger__mid-block {}
  .hamburger__bot-block {
    margin-bottom:0px;
  }

  &.hamburger_open {
    transition-duration: $timeMed;
    transition-delay: $transition-gap;  //стопудово подходит под 320
    left: calc(100% - 15px - 36px);

    .hamburger__top-block {
      transform: rotate(45deg) translate(25%, 110%);
    }
    .hamburger__mid-block {
      opacity: 0;
    }
    .hamburger__bot-block {
      transform: rotate(-45deg) translate(25%, -110%);
      
    }
    
  }
  
  @media (min-width: $screen-sm) {
    &.hamburger_open {
      left: calc(#{$screen-sm} - 15px - 36px);
    }
  }

  @media (min-width: $screen-md) and (max-width: $screen-lg - 1) {
      //left: calc(#{$screen-sm} - 15px - 36px);
      left: calc((100% - #{$screen-md})/2 + #{$gap}*2);
  }
}

.no-transition {
  transition-duration: 0s !important;
}

@mixin paddedHor($padding: $gap*4){
  padding-left: $padding;
  padding-right: $padding;
}
.main-nav {
  //position: absolute;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  
  width: 100%;
  max-width: $screen-sm;
  background-color: $clrGrayBG;
  
  transition: all $timeMed;
  z-index: 20;
  
  &.main-nav_closed {
    transform: translatex(-100%);
  }
  
  .logo-wrapper {
    @include paddedHor(37px);
    height: 105px;
    background-color: $clrGrayDark;
    border-bottom: 1px solid $clrGrayLight;
    overflow: hidden;
    
    a.logo {
      border-bottom: none !important;
      background: url('img/logo/logo-base.png') center top no-repeat;
      display: block;
      width: 176px;
      height: 85px;
      background-size: contain;
      margin-top: 9px;
      float: left;
    }
    
    .hamburger {
      float: right;
      top: 33px;
      position: relative;
    }
  }
  
  ul.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    @include paddedHor(37px);
    overflow: auto;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 105px;
    padding-bottom: $gap*2;
    max-width: 480px;
    
    > li {
      overflow: hidden;
      margin-top: 22px;
      a {
        text-align: left;
      }
      
      > ul {
        max-height: 0px;
        opacity: 0;
        transition: all $timeMed ease-out;
        &.visible {
          max-height: 1000px;
          opacity: 1;
          transition: all $timeMed ease-in;
        }


        list-style: none;
        margin: 0;
        padding: 0;
        padding-left: 18px;
        overflow: hidden;
        
        > li {
          margin-top: $gap*2;
        }
      }
    }
  }
  

  //@media (min-width: $screen-md) {
  @media (min-width: $screen-lg) {

    transition: top $timeMed !important;
    
    //transition-duration: 0s;
    display: block !important;
    left: 0;
    right: 0;
    transform: translatex(0) !important;
    max-width: 100%;
    width: initial;
    //bottom: initial;  //не заработало в IE
    bottom: auto;
    background-color: transparent;
    top: 140px;
    
    .logo-wrapper {
      display: none;
    }
    ul.menu {
      position: relative;
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-start;
      justify-content: center;
      padding: 0;
      top: 0;
      bottom: inherit;
      margin: 0 auto;
      padding-left: $gap*2;
      padding-right: $gap*2;
      max-width: 100%;
      
      > li {
        margin-top: 0;
        flex: 0 1 17%;
        //&:first-child {
        //  display: none;
        //}
        a {

          font-weight: normal;
          text-align: center;
          border: none !important;
          padding-left: 0px;
          padding-right: 0px;
          padding-top: 7px;
          padding-bottom: 7px;
          background-color: #7e8d84;
          
          .menu-icon {
            display: inline-block;
            width: 26px;
            height: 20px;
            //background-color: green;
            display: none;
            background-position: center;
            background-repeat:no-repeat;
            margin-right:10px;
            &.menu-icon_1 {background-image: url('img/icons/main-menu/icon-1.png');width: 25px}
            &.menu-icon_2 {background-image: url('img/icons/main-menu/icon-2.png');width: 26px}
            &.menu-icon_3 {background-image: url('img/icons/main-menu/icon-3.png');width: 17px}
            &.menu-icon_4 {background-image: url('img/icons/main-menu/icon-4.png');width: 17px}
            &.menu-icon_5 {background-image: url('img/icons/main-menu/icon-5.png');width: 16px}
            &.menu-icon_6 {background-image: url('img/icons/main-menu/icon-6.png');width: 17px}
            @media (min-width: $screen-xl) {
              display: inline-block;
              vertical-align: top;
            }
          }
          
          
          @media (min-width: $screen-md) {
            text-transform: lowercase;
            font-size: $font-size-h5;
            outline: 1px solid darkred;
          }
          @media (min-width: $screen-lg) {
            text-transform: uppercase;
            font-size: $font-size-h5;
            outline: 1px solid green;
          }
          @media (min-width: $screen-xl) {
            text-transform: uppercase;
            font-size: $font-size-base;
            outline: 1px solid blue;
          }
        }
        &:nth-child(1) a {background-color: $clrMain1;&:hover{background-color: $clrAcc;}}
        &:nth-child(2) a {background-color: $clrMain2;&:hover{background-color: $clrAcc;}}
        &:nth-child(3) a {background-color: $clrMain3;&:hover{background-color: $clrAcc;}}
        &:nth-child(4) a {background-color: $clrMain4;&:hover{background-color: $clrAcc;}}
        &:nth-child(5) a {background-color: $clrMain5;&:hover{background-color: $clrAcc;}}
        &:nth-child(6) a {background-color: $clrMain6;&:hover{background-color: $clrAcc;}}
        
      > ul {
        padding-left: 0;
        margin-top: 10px;
        border: 3px solid $clrAcc;
        position: relative;
        overflow: visible;


        &:before {
          content: '';
          position: absolute;
          width: 0;
          height: 10px;
          border-left: 3px solid #eaad41;
          top: -13px;
          left: 50%;
          z-index: 1;
        }
        > li {
          margin-top: 0;
          > a {
            text-align: left;
            text-transform: none;
            //outline: 1px solid darkred !important;
            padding-top: 2px;
            padding-bottom: 2px;
            padding-left: $gap*2;
            background-color: $clrMain1 !important;
            &:before {
              content: '';
              display: block;
              position: absolute;
              top: calc(50% - 2px);
              left: 0;
              width: $gap;
              border-bottom: 3px solid orange;
              
            }
            
            &:hover {
              color: $clrAcc;
              background-color: $clrMain1 !important;
            }
          }
        }
      }
      }
    }
  }
}
.scrolled-from-top {
  .main-nav {
    //transition: top $timeMed !important;
    @media (min-width: $screen-lg) {
      top: 90px;
    }
  }
}