.managers-hint-slider {
  position: fixed;
  z-index: 70;
  bottom: 60px;
  right: 0;
  transition: right $timeShort;
  &.managers-hint-slider--hidden {
    right: -661px;
  }
  width: 661px;
  height: 550px;
  //background-color: #aff;
  //outline: 1px solid gray;
  background-image: url('./Includes/managers-hint-slider/img/bg.png');

  .managers-hint-slider__cross {
    background-image: url('./Includes/managers-hint-slider/img/cross3.png');
    width: 25px;
    height: 25px;
    position: absolute;
    right: 75px;
    top: 35px;
    cursor: pointer;
  }

  .managers-hint-logo {
    position: absolute;
    top: 35px;
    left: 160px;
  }
  .managers-hint-flickity{
    margin-top: 130px;
    margin-left: 160px;
  }
  
}