.card-base {
  width: 100%;
  // outline: 1px solid green;
  overflow: hidden;
  margin-bottom: $gap*4;
  @media (min-width: $screen-sm) {

  }
  @media (min-width: $screen-md) {
    float: left;
    margin-right: $gap*4;
    width: calc((100% - #{$gap*8}) / 3);
      &:nth-child(3n + 1) {
      //background-color: green;
      margin-right:0;
    }
  }
  @media (min-width: $screen-lg) {

  }

  position: relative;
  &:before {
    content: "";
    display: block;
    position: relative;
    padding-top: 100%;
    @media (min-width: $screen-sm) {
      padding-top: 50%;
    }
    @media (min-width: $screen-md) {
      padding-top: 100%;
    }
    @media (min-width: $screen-lg) {

    }
  }

  .card-base__content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    .card-base__link-base {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      text-decoration: none !important;
      border-bottom: none !important;
      &:hover {
        text-decoration: none !important;
        border-bottom: none !important;
        p {
          background-color: $clrAcc;
        }
        img {
          transform: scale(1.05)
        }
      }
      $pHeight: 50px;
      img {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        //bottom: calc(#{$pHeight});
        bottom: $pHeight;
        width: 100%;
        height: calc(100% - #{$pHeight});
        object-fit: cover;
        transition: all $timeShort;
      }

      p {

        transition: all $timeMed;
        position: absolute;
        bottom: 0;
        height: $pHeight;
        width: 100%;
        background-color: $clrMain1;
        text-transform: uppercase;
        margin-bottom: 0;
        font-size: $font-size-base;
        @media (min-width: $screen-sm) {

        }
        @media (min-width: $screen-md) {
          font-size: $font-size-h3;
        }
        @media (min-width: $screen-lg) {

        }

        span {
          display: block;
          position: absolute;
          top: 50%;
          transform: translatey(-50%);
          left: $gap*2;
          right: $gap*2;
        }
      }
    }
  }
}