.card-manager {
  display: block;
  float: none;
  margin-right: 0px;
  width: 100%;

  .img-wrapper {
    float: none;
  }
  .about-1 {
    float: none;
    margin-left: 0px;
    width: 100%;
    margin-top: 18px;
  }

  @media (min-width: 560px ) and (max-width: $screen-lg - 1) {
    .img-wrapper {
      float: left;
    }
    .about-1 {
      float: left;
      margin-left: 18px;
      width: calc(100% - (155px + 18px));
      margin-top: 18px;
    }
  }
}