$paragraphHeight: 50px;

.card-extended {
  width: 100%;
  margin-bottom: $gap*4;
  position: relative;

  background-image: url('./Includes/Cards/img/bg1.png');
  background-size: cover;
  background-position: center;

  @media (min-width: $screen-sm) {

  }
  @media (min-width: $screen-md) {
    background-image: url('./Includes/Cards/img/bg2.png');
    float: left;
    margin-right: $gap*4;
    width: calc((100% - #{$gap*8} - 1px) / 3);
    &:nth-child(3n + 1) {
      //background-color: green;
      margin-right:0;
    }
  }
  @media (min-width: $screen-lg) {
    background-image: url('./Includes/Cards/img/bg3.png');
  }
  @media (min-width: $screen-xl) {
    background-image: url('./Includes/Cards/img/bg4.png');
  }

  &:before {
    content: "";
    display: block;
    position: relative;
    padding-top: 100%;
    @media (min-width: $screen-sm) {
      padding-top: 55%;
    }
    @media (min-width: $screen-md) {
      padding-top: 100%;
    }
    @media (min-width: $screen-xl) {
      padding-top: 83%;
    }
  }

  .card-extended__content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    .card-extended__link-base {
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      text-decoration: none !important;
      border-bottom: none !important;
      &:hover {
        text-decoration: none !important;
        border-bottom: none !important;
        //p {
        //  background-color: $clrAcc;
        //}
      }
      $paragraphHeight: 50px;
      img {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        //bottom: calc(#{$paragraphHeight});
        bottom: $paragraphHeight;
        width: 100%;
        height: calc(100% - #{$paragraphHeight});
        object-fit: cover;
        transition: all $timeShort;
      }

      .type {

        transition: all $timeMed;
        position: absolute;
        bottom: 0;
        height: $paragraphHeight;
        width: 100%;
        background-color: $clrMain1;
        text-transform: uppercase;
        margin-bottom: 0;
        font-size: $font-size-base;
        cursor: pointer;
        color: #fff;
        border-bottom: none;
        @media (min-width: $screen-sm) {

        }
        @media (min-width: $screen-md) {
          font-size: $font-size-h3;
        }
        @media (min-width: $screen-lg) {

        }

        span {
          display: block;
          position: absolute;
          top: 50%;
          transform: translatey(-50%);
          left: $gap*2;
          right: $gap*2;
        }
      }
    }

    .card-extended__links-extended {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: $paragraphHeight;
      width: 100%;
      height: calc(100% - #{$paragraphHeight});
      //background: url('img/bg/bg-net-semi-transparent.png');
      background: url('img/bg/bg-net-semi-transparent.png');

      opacity: 0;
      pointer-events: none;
      transition: all $timeShort;

      .card-extended__links-extended__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) translateZ(0);

        padding-left: $gap*2;
        padding-right: $gap*2;

        .card-extended__offering-text {
          color: white;
          background-color: transparent !important;
          font-size: 18px;
        }
        a.card-extendend__to-all {
          color: white;
          border-bottom: 1px solid white;
          float: right;
          white-space: nowrap;
          font-size: 18px;
          &:hover {
            color: $clrAcc;
            border-bottom: 1px solid $clrAcc;
          }
        }
        .three-links-wrapper {
          margin-top: $gap*2;
          margin-bottom: $gap*2;
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;

          @media (min-width: $screen-sm) {
            margin-top: $gap;
            margin-bottom: $gap;
          }
          @media (min-width: $screen-md) {

          }
          @media (min-width: $screen-lg) {
            margin-top: $gap*2;
            margin-bottom: $gap*2;
          }
        }
      }

      &.active {
        opacity: 1;
      }


    }

  }

  &:hover {
    cursor: pointer;
  }
  &.card-extended_with-links {
    &:hover {
      cursor: default;
    }
  }



  &.card-extended_with-links {
    &.active {
      .card-extended__links-extended {
        opacity: 1;
        pointer-events: all;
      }
    }
  }
  &.active, &:hover {
    img {
      transform: scale(1.05);

    }
    .type {
      background-color: $clrAcc !important;
    }
  }
}

