.card-manager {
  //outline: 1px solid darkred;
  overflow: auto;
  margin-bottom:$gap*2;
  background-color: $clrMain3;
  padding: $gap*2;

  @media (min-width: 560px) {
    float: left;
    width: calc((100% / 2) - #{$gap*2});
    margin-right:$gap*4;
    &:nth-child(2n) {
      margin-right:0;
    }
  }
  @media (min-width: $screen-xl) {
    float: left;
    width: calc(((100% - #{$gap}*8 - 1px) / 3));
    $mr: $gap*4;

    margin-right:$mr;
    &:nth-child(2n) {
      margin-right:$mr;
    }
    &:nth-child(3n) {
      margin-right:0;
    }
  }
  @media (min-width: $screen-xl) {
    float: left;
  }

  .img-wrapper {
    position: relative;
    display: block;
    width: 155px; /*for example*/
    margin: 0 auto;
    height: 200px;
    border: 3px solid white;
    overflow: hidden;

    &:before {
      content: "";
      display: block;
      position: relative;
      padding-top: 100%; 	/* for of 1:1*/
    }
    @media (min-width: $screen-lg) {
      float: left;
      width: 155px;
    }
    img {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      content: '';
      width: 100%;
      height: 100%;
      object-fit: cover;
      //outline: 3px solid darkred;
      overflow: hidden;
      transition: all $timeShort;
    }

    &:hover {
      img {
        transform: scale(1.05);
      }
    }
  }
  .about-1 {
    //outline: 1px solid darkred;
    overflow: hidden;
    display: block;
    @media (min-width: $screen-lg) {
      float: left;
      margin-left:$gap*2;
      width: calc(100% - 155px - #{$gap*2});
    }
    @media (max-width: $screen-lg - 1px) {
      margin-top:$gap*2;
    }

    .lastname {
      //font-size: $font-size-h1;
      font-size: 1.5em;
      color: $clrAcc;
      text-transform: uppercase;
      font-weight: 500;
      line-height:22px;
      margin-bottom: 3px;
      display: inline-block;
      border-bottom: 1px solid transparent;
      transition: all $timeShort;

    }
    .firstname {
      color: $clrAcc;
      font-size: $font-size-large;
      text-transform: uppercase;
      font-weight: 500;
      display: inline-block;
      border-bottom: 1px solid transparent;
      height: 45px;
    }
    .post-title,
    .post-val,
    .spec-title,
    .spec-val {
      font-size: $font-size-base;
      margin-bottom:0px;
    }
    .post-val,
    .spec-val {
      color: $clrAcc;
      height: 40px;
    }
    .spec-title {
      margin-top:4px;
    }

    border-bottom: none !important;
    &:hover {
      border-bottom: none !important;
      .firstname, .lastname {
        border-bottom: 1px solid $clrAcc;
        transition: all $timeShort;
      }
    }
  }
  .about-2 {
    overflow: hidden;
    margin-top:$gap*2;
    a {
      display: inline-block;
      color: white;
      border-bottom: 1px solid transparent;
      transition: all $timeShort;
      //outline: 1px solid darkred;
      height: 30px;
      padding-left:25px + $gap;
      span {
        display: inline-block;
        margin-top:3px;
        border-bottom: 1px solid white;
      }
      &:hover {
        color: $clrAcc;
        border-bottom: 1px solid transparent;
        span {
          border-bottom: 1px solid $clrAcc;
        }
      }
      position: relative;
      &:before {
        display: block;
        position: absolute;
        content: '';
        //outline: 1px solid orange;
        height: 25px;
        width: 25px;
        left: 0;
        background-repeat:no-repeat;
        background-position: center;
      }

      &.phone {
        &:before {
          background-image: url('Includes/Cards/CardManagerImg/phone.png');
        }
      }
      &.mail {
        &:before {
          background-image: url('Includes/Cards/CardManagerImg/mail.png');
        }
      }
      &.page {
        &:before {
          background-image: url('Includes/Cards/CardManagerImg/site.png');
        }
      }
    }
  }

  opacity: 1;

  transition: opacity $timeMed, display $timeMed start;
  .card-manager--hidden {
    transition: opacity $timeMed, display $timeMed step-end;
    opacity: 0;
    display: none;
  }
}