.elevator {
  width: 150px;
  height: 128px;
  position: fixed;
  z-index: 100;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s;
  background-image: url('./Includes/elevator/img/up.png');

  bottom: -70px;
  right: 3px;
  
  @media (min-width: $screen-md) {
    bottom: -55px;
    right: calc((100% - #{$screen-md}) / 2 + 3px);
  }
  @media (min-width: $screen-lg) {
    right: calc((100% - #{$screen-lg}) / 2 + 3px);
  }

  @media (min-width: $screen-xl) {
    right: calc((100% - #{$screen-xl}) / 2 + 3px);
  }
}