
.filter-area {
  width: 100%;
}

.filter-area__filter {
  background-color: #508093;
  height: 490px;
}

.catalog-filter__title {
  position: relative;
  height: 64px;
}

.catalog-filter__inputs-area {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 490px;
}

.catalog-filter__input-block {
  width: 298px;
}

.input-block {
  padding: 0px 10px;
  margin-bottom: 34px;
}

.input-block__title {
  font-family: "Roboto Medium";
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.input-block__content {
  position: relative;
}

.input-block__content-columns {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.input-block__content-columns .input-block__checkbox {
  width: 50%;
}

.input-block__item {
  margin-bottom: 17px;
}

.input-block__item-icon {
  margin-right: 16px
}

.input-block__item-label {
  font-family: "Roboto Medium";
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
}

.input-block__item-label-icon {
  width: calc(100% - 44px);
}

.input-block__input-right .input-block__item-input {
  position: absolute;
  right: 0px;
}

.input-block__checkbox .input-block__item-element {
  display: inline-block;
}

.input-block__checkbox .input-block__item-input + label{
  cursor: pointer;
}

.input-block__checkbox .input-block__input-box {
  vertical-align: top;
  height: 0px;
  width: 0px;
  margin-right: 20px;
  position: relative;
}

.input-block__checkbox .input-block__input-box:before {
  content: '';
  height: 16px;
  width: 16px;
  top: -1px;
  border: 2px solid #eaad41;
  position: absolute;
  cursor: pointer;
}

.input-block__checkbox .input-block__input-box:checked:after {
  content: '';
  height: 20px;
  width: 20px;
  top: -1px;
  position: absolute;
  cursor: pointer;
  background-image: url("img/icons/input-box-active.png");
}

.input-block__checkbox .input-block__input-circle {
  vertical-align: top;
  height: 0px;
  width: 0px;
  margin-top: 4px;
  right: -6px;
  position: relative;
  margin-right: 32px;
}

.input-block__checkbox.input-block__input-right .input-block__input-circle {
  position: absolute;
  margin-right: 0px;
  right: 18px;
}

.input-block__checkbox .input-block__input-circle:before {
  content: '';
  height: 20px;
  width: 20px;
  border: 2px solid #eaad41;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  left: -6px;
  top: -6px;
}

.input-block__checkbox .input-block__input-circle:checked:after {
  content: '';
  height: 12px;
  width: 12px;
  background-color: #eaad41;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
}

.input-block__item-icon {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  position: relative;
  top: 4px;
}

.input-block__item-icon.icon-hard {
  background-image: url("img/icons/waste-type-gayka.png");
}

.input-block__item-icon.icon-soft {
  background-image: url("img/icons/waste-type-krug.png");
}

.input-block__item-icon.icon-spec {
  background-image: url("img/icons/waste-type-3ugolnik.png");
}

.input-block__select {
  height: 35px;
}

.input-block__select .choices.is-open .choices__inner, .input-block__select .choices > .choices__list {
  border-color: #ffffff;
}

.input-block__select .choices.is-open:after {
  border-color: transparent transparent #eaad41 transparent !important;
  margin-top: -10.5px;
}

.input-block__select .choices[data-type*="select-one"]:after {
  border-color: #eaad41 transparent transparent transparent;
  border-width: 9px;
}

.input-block__select .choices__inner {
  border-bottom: 2px solid #ffffff;
}

.input-block__select .choices__inner, .input-block__select .choices__item {
  background: none;
}

.input-block__select .choices__list {
  background-color: #508093;
}

.input-block__select .choices__item--selectable.is-highlighted {
  background-color: #2f6980 !important;
}

.input-block__select, .input-block__select .choices__inner, .input-block__select .choices.is-open> .choices__inner {
  color: #ffffff;
  font-family: "Roboto Medium";
  font-size: 18px;
}

.input-block__select-input {
  display: none;
}

.catalog-filter__hide-button {
  background-image: url("img/icons/filter-hide.png");
  background-repeat: no-repeat;
  cursor: pointer;
  height: 47px;
  width: 47px;
  position: absolute;
  top: 17px;
  right: 17px;
}

.input-block__range-block {
  height: 3px;
  border: none;
  box-shadow: none;
  margin: 0px auto;
  margin-top: 20px;
  width: calc(100% - 16px);
}

.input-block__range-counter {
  display: inline-block;
  width: 49%;
  font-family: "Roboto Medium";
  font-size: 18px;
  color: #ffffff;
}

.input-block__range-max {
  text-align: right;
}

.input-block__range-block .noUi-connect {
  box-shadow: none;
  background: #eaad41;
}

.input-block__range-block .noUi-base {
  background: #dadada;
}

.input-block__range-block .noUi-handle {
  background: #eaad41;
  border: none;
  box-shadow: none;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  left: -8px;
}

.input-block__range-block .noUi-handle:before, .input-block__range-block .noUi-handle:after {
  display: none;
}