.find-error-button {
    width: 70px;
    height: 70px;
    background-image: url('./img/icons/find-error.png');
    background-repeat: no-repeat;
    position: fixed;
    top: 220px;
    right: 0px;
    cursor: pointer;
    transition: all $timeMed;

    &:hover {
        transform: translatey(-4px);
    }
}

.order-find-error-modal-content-no-touch {
    .header {
        background-image: url('./Includes/Header/img/phone-in-round.png');
        background-repeat: no-repeat;
        padding-left: 50px;
        line-height: 15px;


    }
    label,
    input,
    textarea {
    //color: white;
        display: block;
        width: 100%;
    }
    label {
        margin-bottom: $gap;
    }
    textarea {
        resize: none;
    }

    @media (min-width: $screen-sm) {

    }
    @media (min-width: $screen-md) {
        form {
            width: 400px;
            margin: 0 auto;
        }
    }
    @media (min-width: $screen-lg) {
        form {
            width: auto;
            margin: auto;
        }
    }
}