<div class="jeContainerFluid">
    <div class="jeContainer">
        <p class="h2 page-header">Часто Задаваемые Вопросы</p>
        <div class="questions-and-asks-wrapper">
            <div class="questions">
                {{ include('Includes/QuestionItem.twig', {
                    question: 'Lorem ipsum dolor.',
                    answer: 'Lorem ipsum dolor sit amet, consectetur.',
                    modDELME: 'question-item--open'
                })
                }}
                {{ include('Includes/QuestionItem.twig', {
                    question: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.',
                    answer: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum illo nobis quaerat quas, quibusdam sapiente veritatis!'})
                }}
                {{ include('Includes/QuestionItem.twig', {
                    question: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.Lorem ipsum dolor sit amet, consectetur adipisicing elit.',
                    answer: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum illo nobis quaerat quas, quibusdam sapiente veritatis!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum illo nobis quaerat quas, quibusdam sapiente veritatis!'})
                }}
                {{ include('Includes/QuestionItem.twig', {
                    question: 'Lorem ipsum dolor.',
                    answer: 'Lorem ipsum dolor sit amet, consectetur.',
                    modDELME: 'question-item--open'
                })
                }}
                {{ include('Includes/QuestionItem.twig', {
                    question: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.',
                    answer: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum illo nobis quaerat quas, quibusdam sapiente veritatis!'})
                }}
            </div>
            {{ include('Includes/ask-question.twig') }}
            <div style="display: none;">
                {{ include('Includes/ask-question-form.twig') }}
                {{ include('Includes/ask-question-triangle-bottom.twig') }}
                {{ include('Includes/ask-question-triangle-top.twig') }}
            </div>

        </div>

        <p class="h2 page-header">Это интересно</p>
        <div style="/*display: none;*/" class="kb-list-and-articles-wrapper">
            {{ include('Includes/ArticlesList.twig', {

            })
            }}
            <div class="kb-articles">
                <p class="kb-articles__header">Заголовок</p>

                {{ include('Includes/KbArticle.twig', {
                    title: 'Lorem ipsum dolor.',
                    preview: '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit..</p><p>Hello heool</p>'

                })
                }}
                <p class="kb-articles__header">Заголовок</p>
                {{ include('Includes/KbArticle.twig', {
                    title: 'Lorem ipsum dolor sit amet, consectetur adipisicing.',
                    preview: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, quos!'

                })
                }}

                <p class="kb-articles__header">Lorem ipsum dolor sit amet, consectetur adipisicing elit..</p>
                {{ include('Includes/KbArticle.twig', {
                    title: 'Lorem ipsum dolor sit amet, consectetur adipisicing.',
                    preview: 'Целевое назначение линий грануляции полимерных материалов, на первый '

                })
                }}
                {{ include('Includes/KbArticle.twig', {
                    title: 'Lorem ipsum dolor.',
                    preview: '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit..</p><p>Hello heool</p>'

                })
                }}
            </div>
        </div>
    </div>
</div>
