//usage:
//<div class="je-radio je-radio--v1">
//    <input id="male" type="radio" name="gender" value="male">
//    <label for="male">Male</label>
//</div>

//modifying
//.je-radio--v1{
//  label:before {
//    border: 2px solid $clrAcc;
//
//  }
//  input[type=radio]:checked + label:before {
//    color: $clrAcc;
//  }
//}

.je-radio {
  //outline: 1px solid darkred;
  input[type=radio] {
    display: none;
  }
  label {
    //outline: 1px solid darkgreen;
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    user-select: none;
  }
  label:before {
    //outline: 1px solid darkblue;
    content: "";
    display: inline-block;

    width: 16px;
    height: 16px;
    border-radius: 9px;

    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: transparent;
    border: 2px solid black;
  }

  input[type=radio]:checked + label:before {
    content: "\2022";
    color: black;
    font-size: 46px;
    text-align: center;
    line-height: 18px;
  }
}
