//validation
@keyframes incorrectField {
  //0% {border-color: $clrDivider} 4% {border-color: $clrError}
  $clrDivider: transparent;
  //$clrError: white;
  0% {border-color: $clrError}
  21% {border-color: $clrError} 29% {border-color: $clrDivider}
  46% {border-color: $clrDivider;} 54% {border-color: $clrError;}
  71% {border-color: $clrError} 79% {border-color: $clrDivider}
  96% {border-color: $clrDivider} 100% {border-color: $clrError}
}

input.invalid,
textarea.invalid {
  animation-name: incorrectField;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 1;     //n-times, infinite
  animation-direction: normal;      //reverse, alternate, alternate-reverse
  animation-play-state: running;    //paused
  animation-fill-mode: forwards;        //forwards, backwards, none
}

input.valid,
textarea.valid {
  border-color: $clrValid;
}

.error {
  $timeE: 200ms;
  color: $clrError;
  display: block;
  overflow: hidden;


  margin-top: $gap;

  //transition: opacity, max-height
  transition: all $timeE ease-out;
  opacity: 0;
  max-height: 0px;

  //этот елемент генериться в JS
  .error__content {
    display: block;
  }

  &.open {
    max-height: 100px;
    transition: all $timeE ease-in;
  }
  &.visible {
    opacity: 1;
  }
}

//tg

input.tg-invalid,
textarea.tg-invalid {
  animation-name: incorrectField;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 1;     //n-times, infinite
  animation-direction: normal;      //reverse, alternate, alternate-reverse
  animation-play-state: running;    //paused
  animation-fill-mode: forwards;        //forwards, backwards, none
}

input.tg-valid,
textarea.tg-valid {
  border-color: $clrValid;
}

.tg-error {
  $timeE: 200ms;
  color: $clrError;
  display: block;
  overflow: hidden;


  margin-top: $gap;

  //transition: max-height
  transition: all $timeE ease-out;
  max-height: 0px;

  //этот елемент генериться в JS
  .tg-error__content {
    display: block;

    //transition: opacity
    transition: all $timeE ease-in;
    opacity: 0.15;
  }

  &.tg-error--open {
    max-height: 100px;
    transition: all $timeE ease-in;
  }
  &.tg-error--visible {
    .tg-error__content {
      opacity: 1;
    }
  }
}
//tg end

.recaptha-error-message {
  opacity: 1;
  color: $clrError;
  transition: opacity $timeShort;
  &.hidden {
    opacity: 0;
  }
}
