#table-spares {

  @media (min-width: $screen-md) {
    margin-top: -47px;
  }
  .table-spares__search-wrapper {
    input[type="search"] {
      width: 100%;
      margin-bottom: $gap;

      @media (min-width: $screen-md) {
        width: 175px;
        margin-bottom: $gap*4;
        float: right;
      }
    }

    @media (min-width: $screen-md) {
      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }
  }

  .table-spares__sort-select-wrapper {
    display: none;
    @media (max-width: $screen-md - 1px) {
      .table-spares__sort-select-label {
        text-align: right;
        display: block;
        font-weight: bold;

      }
      display: block;
    }
  }

  .thead {
    display: none;
    @media (min-width: $screen-md) {
      display: flex;
      flex-flow: row nowrap;
      height: 38px;
      background-color: $clrMain3;
    }

    .sort {
      position: relative;
      cursor: pointer;
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translatex(-50%);
        width: 16px;
        height: 8px;
        //outline: 1px solid black;
        background-image: url('./Includes/table-spares/img/arr1.png');
      }
      &.asc {
        &:before {
          background-image: url('./Includes/table-spares/img/arr2.png');
        }
      }
      &.desc {
        &:before {
          background-image: url('./Includes/table-spares/img/arr2.png');
          transform: rotate(180deg) translatex(50%);
          transform-origin: 50% 50%;
        }
      }
    }

    @media (min-width: $screen-md) {
      > .articul,
      > .img,
      > .name,
      > .description,
      > .price {
        //outline: 1px solid darkred;
        border-right:1px solid white;
        text-align: center;
        color: white;
        line-height: 36px;

      }
      > .articul {
        flex: 0 1 15%;
      }
      > .img {
        flex: 0 1 30%;
      }
      > .name {
        flex: 0 1 35%;
      }
      > .description {
        display: none;
      }
      > .price {
        flex: 0 1 20%;
        border-right: none;

      }
    }
    @media (min-width: $screen-lg) {

      > .articul {
        flex: 0 1 10%;
      }
      > .img {
        flex: 0 1 25%;
      }
      > .name {
        flex: 0 1 25%;
      }
      > .description {
        display: block;
        flex: 0 1 30%;

      }
      > .price {
        flex: 0 1 10%;
      }
    }


  }

  .link {
    display: block;
    $clrBord: $clrGrayLight;
    $brdWidth: 1px;
    cursor: default;

    color: $clrBlack;
    img {
      transition: all $timeShort;
    }
    &:hover {
      color: $clrMain1;
      img {
        transform: scale(1.05);

      }
    }

    > * {
      //outline: 1px solid darkred;
    }
    @media (max-width: $screen-md - 1px) {
      border-top: 1px solid $clrGrayLight;
      padding-top: $gap;
      padding-bottom: $gap;
      border-bottom: none;
      .box-img {
        width: calc(50% - #{$gap});
        float: left;
        overflow: hidden;
        position: relative;

        &:before {
          content: "";
          display: block;
          position: relative;
          padding-top: 100%; 	/* for of 1:1*/
        }

        img {
          display: block;
          //width: 100%;
          //height: 50%;
          position:  absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          object-fit: contain;
          font-family: 'object-fit: contain;';
        }

      }
      .box-name,
      .box-articul,
      .box-price {
        width: calc(50% - #{$gap});
        float: right;
      }
      .box-articul {
        &:before {
          content: 'арт.\00a0';
          display: inline-block;
        }
      }
      .box-price {
        font-weight: bold;
        &:before {
          content: '₽\00a0';
          display: inline-block;
        }
      }
      .box-description {
        display: none;
      }
      &:after {
        content: '';
        display: block;
        clear: both;
      }
    }
    @media (min-width: $screen-md) {

      border-bottom: 1px solid $clrGrayLight;

      display: flex;
      flex-flow: row nowrap;

      //height: 120px;
      min-height: 120px;

      .box-articul {
        border-left: $brdWidth solid $clrGrayLight;
        border-right: $brdWidth solid $clrGrayLight;
        order: 1;
        flex: 0 1 15%;

        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;

        .articul {
          align-items: center;
          flex: 0 1 auto;
          text-align: center;

        }
      }
      .box-img {
        order: 2;
        overflow: hidden;
        flex: 0 1 30%;
        border-right: $brdWidth solid $clrGrayLight;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          font-family: 'object-fit: contain;';
        }
      }
      .box-name {
        padding: $gap;
        order: 3;
        flex: 0 1 35%;

        border-right: $brdWidth solid $clrGrayLight;

        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;

        .name {
          align-items: center;
          flex: 0 1 auto;
          text-align: center;

        }

      }
      .box-description {
        order: 4;
        display: none;
        padding: $gap;

        border-right: $brdWidth solid $clrGrayLight;

        //display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;

        .description {
          align-items: center;
          flex: 0 1 auto;
          text-align: center;

        }

      }

      .box-price {
        order: 5;
        flex: 0 1 20%;
        font-weight: bold;

        border-right: $brdWidth solid $clrGrayLight;

        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;

        .price {
          align-items: center;
          flex: 0 1 auto;
          text-align: center;
          &:before {
            content: '₽\00a0';
            display: inline-block;
          }
        }
      }

    }
    @media (min-width: $screen-lg) {
      .box-articul {
        flex: 0 1 10%;
      }
      .box-img {
        flex: 0 1 25%;
      }
      .box-name {
        flex: 0 1 25%;
      }
      .box-description {
        display: flex;
        flex: 0 1 30%;
      }

      .box-price {
        flex: 0 1 10%;
      }
    }
  }

  .pagination {
      //outline: 1px solid red;
      padding: 0;
      display: block;
      text-align: center;

    li {
      //outline: 1px solid darkred;
      display: inline-block;
      overflow: hidden;
      width: 36px;
      height: 36px;
      margin-right: $gap;
      &:last-child {
        margin-right:0;
      }
      transition: all $timeShort;
      background-color: $clrMain3;
      cursor: pointer;
      a {
        transition: all $timeShort;
        color: white;
        text-decoration: none !important;
        border-bottom: none;
        height: 36px;
        display: block;
        line-height: 36px;
      }
      &.disabled {
        width: 2px;
        cursor: default;
        a {
          display: none;
        }
      }
      &:hover {
        background-color: $clrAcc;
      }
      &.active {
        background-color: white;
        border: 2px solid $clrMain3;
        cursor: default !important;
        a {
          color: $clrGrayDark;
          cursor: default !important;
          height: 34px;
          line-height: 34px;
        }
      }
    }
    &:after {
        display: block;
        content: '';
        clear: both;
    }
  }
}
