//анимация для modal  и content wrapper должна быть одинаковой !!!Критично!!!
//Анимации везде должны быть одинаковой длительности: по ним определяются интервали времени.
//$transitionForAll: all 0.4s ease-in-out;
$transitionForAll: all 0.4s ease-in-out;

//между modal, global-wrapper, content-wrapper, и content 
//не должно быть маргинов, паддингов и бордюров:
//они друг по другу вычисляют высоту.
//исключение: разрешен border для content-wrapper - он считается в JS. 
//нужен чтобы бордюр нарисовать))

.je-alertino {
  pointer-events: none;
  opacity: 0;
  transition: $transitionForAll;
  z-index: 100;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;      //вертикаль
  justify-content: center;  //горизонталь

  .je-alertino__overlay {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(black, 0.8);
  }
  .je-alertino__modal {
    //этот элемент автоматически позиционируется в центре из-за flex-свойств, прописанных у родителя

    //никакого overflow: hidden;!!! global-wrapper должен вылазить за пределы modal. А именнно after.
    max-height: 100vh;
    z-index: 101;

    min-width: 100px;
    background-color: white;
    transition: $transitionForAll;

    .je-alertino__global-wrapper {
      display: block;
      position: relative;
      transition: $transitionForAll;
      max-height: 100vh;

      .je-alertino__cross {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        min-width: 10px;
        min-height: 10px;
        z-index: 1;
      }

      .je-alertino__content-wrapper {
        position: relative;
        max-height: 100vh;
        
        transition: height 0.4s ease-in-out, background-color 0.4s ease-in-out;


        .je-alertino__content {
          //здесь не должно быть никаких маргинов, top, left и прочего (для высоты):
          //исходя из высоты этого блока анимируется высота родителя.
          position: relative;
          overflow: auto;

          display: block;

          transition: $transitionForAll;
          opacity: 1;

          &.je-alertino__content--transparent {
            opacity: 0.00;
          }
          &.je-alertino__content--no-transition {
            transition: none;
          }
        }
      }
    }
  }
}

.je-alertino--open {
  pointer-events: all;
  opacity: 1;
}

.je-alertino--debug {

  @mixin  label($color: black){
    background-color: $color;
    color: white;
    padding: 7px;
    position: absolute;
  }

  .je-alertino__modal {
    $color: darkred;
    outline: 12px solid $color;
    &:after {
      content:'modal';
      @include label($color);
      top: 0;
      right: 100%;
    }
  }
  .je-alertino__global-wrapper {
    $color: green;
    outline: 8px solid $color;
    &:after {
      content:'global-wrapper';
      @include label($color);
      top: 0;
      left: 100%;
    }
  }
  .je-alertino__cross {
    outline: 2px solid darkred;
  }
  .je-alertino__content-wrapper {
    $color: orange;
    outline: 4px solid $color;
    outline-offset: 0px;
    &:after {
      content:'content-wrapper';
      @include label($color);
      left: 0;
      bottom: 0;
    }
  }
  .je-alertino__content {
    $color: indigo;
    outline: 12px solid $color;
    &:after {
      content:'content';
      @include label($color);
      right: 0;
      bottom: 0;
    }
  }
}

.je-alertino--no-transition {
  .je-alertino__modal {
    transition: none;
    .je-alertino__global-wrapper {
      transition: none;
      .je-alertino__content-wrapper {
        transition: none;
      }
    }
  }
}