$tie-holder-max-height: 1300px;

.tie-holder {
  overflow: hidden;
  transition: all $timeMed ease-out;
  max-height: 0px;
  position: relative;

  @media (min-width: $screen-xl) {
    width: 297px;
    opacity: 1;
    max-height: $tie-holder-max-height;
  }

  .tie-holder__cross {
    position: absolute;
    cursor: pointer;
    width: $gap*4;
    height: $gap*4;
    top: $gap*2;
    right: $gap*2;

    &:before, &:after {
      display: block;
      content: '';

      position: absolute;
      height: 2px;
      width: 46px;
      background-color: white;
      transition: all $timeShort;
      top: 17px;
      left: -4px;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
    &:hover {
      &:before, &:after {
        background-color: $clrAcc;
      }
    }


    @media (min-width: $screen-xl) {
      display: none;
    }
  }
  .tie-holder__content {
    background-color: $clrMain3;
  }
  .tie-holder__triangle {
    height: 65px;
    background-image: url('./Includes/tie-holder/img/triangle.png');
    background-size: 100% 100%;
  }

}

.tie-holder--visible {
  transition: all $timeMed ease-in;
  max-height: $tie-holder-max-height;
  opacity: 1;
}
