{% extends 'Page.twig' %}

{% block css %}
    <link rel="stylesheet" href="/builds/card.css">
{% endblock %}

{% block content_main %}

    Тут код содержимого страницы

{% endblock %}

{% block js %}
    <script src="/builds/card.js"></script>
{% endblock %}
