{% extends 'Page.twig' %}

{% block css %}
    <link rel="stylesheet" href="/builds/equipment2.css">
{% endblock %}

{% block content_main %}
    {{ include('Includes/tie-toggler.twig') }}
    <div class="page-spares jeContainer">
        <div class="tie-holder">

            {{ include('Includes/form-filter-equipment.twig') }}
        </div>
        <div class="spares-content-holder" style="overflow: hidden;/*чтоб меньше было видно чужие косяки*/">
            <p class="h2 page-header">ЗАГОЛОВОК ВЫБОРКИ ЭЛЕМЕНТОВ</p>

            {{ include('Includes/table-equipment2.twig') }}

        </div>

        <div class="page-catalog__description">
            <div class="catalog-description">
                <hr class="catalog-description__line">
                <div class="catalog-description__text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    <hr>
                    Ab accusantium aut blanditiis cumque dolor eius error illum minima nihil perspiciatis, ullam velit veritatis voluptatibus?
                    <hr>
                    Alias inventore iure nulla quas quos?
                </div>
            </div>
        </div>

        <style>
            .usual {
                display: inline-block;
                width: 20px;
                height: 20px;
                margin: 10px;
                outline: 6px solid darkred;
            }
            .special {
                outline: 6px solid darkgreen;
            }

            
            .special:nth-child(2n) {
                background-color: darkgreen;
            }
        </style>
        <div class="selector-example">
            <div class="usual"></div>
            <div class="usual"></div>
            <div class="usual special"></div>
            <div class="usual special"></div>
            <div class="usual special"></div>
            <div class="usual"></div>
            <div class="usual special"></div>
            <div class="usual special"></div>
            <div class="usual"></div>
            <div class="usual"></div>
            {#<br>#}
            <div class="usual"></div>
            <div class="usual"></div>
            <div class="usual special"></div>
            <div class="usual special"></div>
            <div class="usual special"></div>
            <div class="usual"></div>
            <div class="usual special"></div>
            <div class="usual special"></div>
            <div class="usual"></div>
            <div class="usual"></div>
        </div>

    </div>


{% endblock %}

{% block js %}
    <script src="/builds/equipment2.js"></script>
{% endblock %}

