{% extends 'Page.twig' %}

{% block css %}
    <link rel="stylesheet" href="/builds/equipment.css">
{% endblock %}

{% block content_main %}

    <div class="page-catalog jeContainer">

        <div class="page-catalog__filter-area">

            <div class="filter-area">

                <div class="filter-area__show-button">

                </div>


                <div class="filter-area__filter">

                    {{ include('Includes/Catalog/filter.twig') }}

                </div>

                <div class="filter-area__filter-after"></div>

            </div>

        </div>

        <div class="page-catalog__items-area">

            <div class="items-area">

                <div class="items-area__header">

                    <h1 class="items-area__title">
                        Заголовок выборки элементов
                    </h1>

                    <div class="items-area__controls">

                        <div class="items-area__sort-list">

                            <div class="sort-list">

                                <div class="sort-list__title">Сортировать по:</div>

                                <div class="sort-list__input-area">

                                    <select name="sort" id="sort" class="sort-list__sort-select js-select-on-equipment">
                                        <option value="val_1" class="sort-list__sort-option">val_1</option>
                                        <option value="val_2" class="sort-list__sort-option">val_2</option>
                                    </select>

                                </div>

                            </div>

                        </div>

                        <div class="items-area__compare-button">
                            Сравнить
                        </div>

                    </div>

                </div>

                <div class="items-area__items-list">

                    <div class="catalog-items-list">

                        {{ include('Includes/Catalog/catalog-item.twig', {text: 'Item1'})  }}
                        {{ include('Includes/Catalog/catalog-item.twig', {text: 'Item2'})  }}
                        {{ include('Includes/Catalog/catalog-item.twig', {text: 'Item3'})  }}
                        {{ include('Includes/Catalog/catalog-item.twig', {text: 'Item4'})  }}
                        {{ include('Includes/Catalog/catalog-item.twig', {text: 'Item5'})  }}
                        {{ include('Includes/Catalog/catalog-item.twig', {text: 'Item6'})  }}
                        {{ include('Includes/Catalog/catalog-item.twig', {text: 'Item7'})  }}
                        {{ include('Includes/Catalog/catalog-item.twig', {text: 'Item8'})  }}
                        {{ include('Includes/Catalog/catalog-item.twig', {text: 'Item9'})  }}
                        {{ include('Includes/Catalog/catalog-item.twig', {text: 'Item10'})  }}
                        {{ include('Includes/Catalog/catalog-item.twig', {text: 'Item11'})  }}
                        
                    </div>

                </div>

            </div>

        </div>

        <div class="page-catalog__description">

            <div class="catalog-description">

                <hr class="catalog-description__line">

                <div class="catalog-description__text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    <hr>
                    Ab accusantium aut blanditiis cumque dolor eius error illum minima nihil perspiciatis, ullam velit veritatis voluptatibus?
                    <hr>
                    Alias inventore iure nulla quas quos?
                </div>

            </div>

        </div>

    </div>

{% endblock %}

{% block js %}
    <script src="/builds/equipment.js"></script>
{% endblock %}