{% extends 'Page.twig' %}

{% block css %}
    <link rel="stylesheet" href="/builds/gallery.css">
{% endblock %}

{% block content_main %}
    <div class="jeContainerFluid">
        <div class="jeContainer">
            <p class="h2 page-header">Галерея</p>
            <div id="navigation" class="hide-on-mobile">
                <div id="wrap-nav-list" class="collapse">
                    <ul id="menu" class="nav-list clearfix">
                        <li class="level1"><a href="#block1">Фото</a></li>
                        <li class="level2"><a href="#block2">Видео</a></li>
                        <li class="level3"><a href="#block3">Готовое оборудование</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="jeContainer-mod">
            <p class="nav-element first show-on-mobile">Фото</p>
            <div id="block1" class="photo-wrapper clearfix">

                <div class="item item-category" data-category="first-cat">
                    <div class="img-wrapper">
                        <img src="/img/gallery/granulation.png" alt="" class="img-title ">
                    </div>
                    <div class="caption-right">
                        <img src="/img/gallery/ico-4.svg" alt="" class="icon">
                    </div>
                    <div class="caption-left">
                        <p class="title"><a href="#">Линии грануляции</a></p>
                    </div>
                </div>
                <div class="item item-photo first-cat" data-category="first-cat">
                    <div class="img-wrapper">
                        <img data-lazy="http://ok-stanok.ru/data/temp/11420219a2704b1f25c7d76cb38531ee.jpg" alt="" class="img-title ">
                    </div>
                    <div class="caption-bottom">
                        <p class="title"><a href="#">Длинное название оборудования</a></p>
                    </div>
                </div>
                <div class="item item-photo first-cat" data-category="first-cat">
                    <div class="img-wrapper">
                        <img src="/img/gallery/granulation.png" alt="" class="img-title ">
                    </div>
                    <div class="caption-bottom">
                        <p class="title"><a href="#">Название оборудования</a></p>
                    </div>
                </div>
                <div class="item item-photo first-cat" data-category="first-cat">
                    <div class="img-wrapper">
                        <img src="/img/gallery/granulation.png" alt="" class="img-title ">
                    </div>
                    <div class="caption-bottom">
                        <p class="title"><a href="#">Название оборудования</a></p>
                    </div>
                </div>
                <div class="item item-photo first-cat item-last" data-category="first-cat">
                    <div class="img-wrapper">
                        <img src="/img/gallery/granulation.png" alt="" class="img-title ">
                    </div>
                    <div class="caption-bottom">
                        <p class="title"><a href="#">Название</a></p>
                    </div>
                </div>

                <div class="item item-category" data-category="second-cat">
                    <img src="" alt="" class="img-title">
                    <div class="caption-right">
                        <img src="/img/gallery/ico-3.svg" alt="" class="icon">
                    </div>
                    <div class="caption-left">
                        <p class="title"><a href="#">Мельницы</a></p>
                    </div>
                </div>
                <div class="item item-photo second-cat" data-category="second-cat">
                    <div class="img-wrapper">
                        <img src="/img/gallery/granulation.png" alt="" class="img-title ">
                    </div>
                    <div class="caption-bottom">
                        <p class="title"><a href="#">Название оборудования</a></p>
                    </div>
                </div>
                <div class="item item-photo second-cat" data-category="second-cat">
                    <div class="img-wrapper">
                        <img src="/img/gallery/granulation.png" alt="" class="img-title ">
                    </div>
                    <div class="caption-bottom">
                        <p class="title"><a href="#">Название оборудования</a></p>
                    </div>
                </div>
                <div class="item item-photo second-cat item-last" data-category="second-cat">
                    <div class="img-wrapper">
                        <img src="/img/gallery/granulation.png" alt="" class="img-title ">
                    </div>
                    <div class="caption-bottom">
                        <p class="title"><a href="#">Название оборудования</a></p>
                    </div>
                </div>

                <div class="item item-category" data-category="third-cat">
                    <img src="" alt="" class="img-title">
                    <div class="caption-right">
                        <img src="/img/gallery/ico-5.svg" alt="" class="icon">
                    </div>
                    <div class="caption-left">
                        <p class="title"><a href="#">Шредеры</a></p>
                    </div>
                </div>
                <div class="item item-photo third-cat" data-category="third-cat">
                    <div class="img-wrapper">
                        <img src="/img/gallery/granulation.png" alt="" class="img-title ">
                    </div>
                    <div class="caption-bottom">
                        <p class="title"><a href="#">Название оборудования</a></p>
                    </div>
                </div>
                <div class="item item-photo third-cat" data-category="third-cat">
                    <div class="img-wrapper">
                        <img src="/img/gallery/granulation.png" alt="" class="img-title ">
                    </div>
                    <div class="caption-bottom">
                        <p class="title"><a href="#">Название оборудования</a></p>
                    </div>
                </div>
                <div class="item item-photo third-cat item-last" data-category="third-cat">
                    <div class="img-wrapper">
                        <img src="/img/gallery/granulation.png" alt="" class="img-title ">
                    </div>
                    <div class="caption-bottom">
                        <p class="title"><a href="#">Название оборудования</a></p>
                    </div>
                </div>

                <div class="item item-category" data-category="fourth-cat">
                    <img src="" alt="" class="img-title">
                    <div class="caption-right">
                        <img src="/img/gallery/ico-1.svg" alt="" class="icon">
                    </div>
                    <div class="caption-left">
                        <p class="title"><a href="#">Чиллеры</a></p>
                    </div>
                </div>
                <div class="item item-photo fourth-cat" data-category="fourth-cat">
                    <div class="img-wrapper">
                        <img src="/img/gallery/granulation.png" alt="" class="img-title ">
                    </div>
                    <div class="caption-bottom">
                        <p class="title"><a href="#">Название оборудования</a></p>
                    </div>
                </div>
                <div class="item item-photo fourth-cat" data-category="fourth-cat">
                    <div class="img-wrapper">
                        <img src="/img/gallery/granulation.png" alt="" class="img-title ">
                    </div>
                    <div class="caption-bottom">
                        <p class="title"><a href="#">Название оборудования</a></p>
                    </div>
                </div>
                <div class="item item-photo fourth-cat item-last" data-category="fourth-cat">
                    <div class="img-wrapper">
                        <img src="/img/gallery/granulation.png" alt="" class="img-title ">
                    </div>
                    <div class="caption-bottom">
                        <p class="title"><a href="#">Название оборудования</a></p>
                    </div>
                </div>

                <div class="item item-category" data-category="fifth-cat">
                    <img src="" alt="" class="img-title">
                    <div class="caption-right">
                        <img src="/img/gallery/ico-2.svg" alt="" class="icon">
                    </div>
                    <div class="caption-left">
                        <p class="title"><a href="#">Дробилки</a></p>
                    </div>
                </div>
                <div class="item item-photo fifth-cat" data-category="fifth-cat">
                    <div class="img-wrapper">
                        <img src="/img/gallery/granulation.png" alt="" class="img-title ">
                    </div>
                    <div class="caption-bottom">
                        <p class="title"><a href="#">Название оборудования</a></p>
                    </div>
                </div>
                <div class="item item-photo fifth-cat" data-category="fifth-cat">
                    <div class="img-wrapper">
                        <img src="img/gallery/granulation.png" alt="" class="img-title ">
                    </div>
                    <div class="caption-bottom">
                        <p class="title"><a href="#">Название оборудования</a></p>
                    </div>
                </div>
                <div class="item item-photo fifth-cat item-last" data-category="fifth-cat">
                    <div class="img-wrapper">
                        <img src="/img/gallery/granulation.png" alt="" class="img-title ">
                    </div>
                    <div class="caption-bottom">
                        <p class="title"><a href="#">Название оборудования</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="jeContainer no-pad-on-mobile">
            <p class="nav-element second show-on-mobile">Видео</p>
            <div id="block2" class="video-wrapper block-flex">
                <div class="video-el">
                    <div class="video-container">
                        <iframe src="https://www.youtube.com/embed/0vrdgDdPApQ" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="caption-bottom">
                        <a class="title" href="#">Название видео</a>
                    </div>
                </div>
                <div class="video-el">
                    <div class="video-container">

                    </div>
                    <div class="caption-bottom">
                        <a class="title">Название видео</a>
                    </div>
                </div>
                <div class="video-el">
                    <div class="video-container">

                    </div>
                    <div class="caption-bottom">
                        <a class="title">Название видео</a>
                    </div>
                </div>
                <div class="video-el">
                    <div class="video-container">
                        <iframe src="https://www.youtube.com/embed/0vrdgDdPApQ" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="caption-bottom">
                        <a class="title">Название видео</a>
                    </div>
                </div>
                <div class="video-el">
                    <div class="video-container">

                    </div>
                    <div class="caption-bottom">
                        <a class="title">Название видео</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="jeContainer-mod">
            <p class="nav-element third show-on-mobile">Готовое оборудование</p>
            <div id="block3" class="slider-wrapper-eq">
                <div id="slider-equipment" class="slider-four-el">
                    <div class="slider-item">
                        <div class="slider-img-wrapper">
                            <img data-lazy="http://ok-stanok.ru/data/temp/11420219a2704b1f25c7d76cb38531ee.jpg" alt="" class="slider-img">
                        </div>
                    </div>
                    <div class="slider-item">
                        <div class="slider-img-wrapper">
                            <img data-lazy="/img/gallery/granulation.png" alt="" class="slider-img">
                        </div>
                    </div>
                    <div class="slider-item">
                    </div>
                    <div class="slider-item">
                    </div>
                    <div class="slider-item">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-slider-bg"></div>
        <div class="modal-slider-container">
            <div class="close-btn">
                <img src="/img/cross-match-blue.png" alt="">
            </div>
            <div id="modal-slider" class="modal-slider">
                <div class="slider-item">
                    <div class="slider-img-wrapper">
                        <img data-lazy="/img/gallery/granulation.png" alt="" class="slider-img">
                    </div>
                    <div class="slider-title">
                        <p class="title">Название оборудования</p>
                    </div>
                </div>
                <div class="slider-item">
                    <div class="slider-img-wrapper">
                        <img data-lazy="/img/gallery/granulation.png" alt="" class="slider-img">
                    </div>
                    <div class="slider-title">
                        <p class="title">Название оборудовaния</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="/builds/gallery.js"></script>
{% endblock %}
