{% extends 'Page.twig' %}

{% block css %}
    <link rel="stylesheet" href="/builds/manager.css">
{% endblock %}

{% block content_main %}
    <div class="jeContainerFluid">
        <div class="jeContainer">

            <div class="static-page">

                <div class="static-page__sidebar">

                    <div class="card-manager static-page__sidebar-item">
                        <a href="#" class="img-wrapper">
                            <img src="/img/placeholder1.jpg" alt="">
                        </a>
                        <a href="#" class="about-1">
                            <p class="lastname">Иванов</p>
                            <p class="firstname">Иван Иванович</p>
                            <p class="post-title">Должность:</p>
                            <p class="post-val">Менеджер отдела продаж</p>
                            <p class="spec-title">Специализация:</p>
                            <p class="spec-val">первая</p>
                        </a>
                        <div style="clear: both"></div>
                        <div class="about-2">

                            <a href="tel:+79601030811" class="phone"><span>+7 (905) 123-45-67</span></a>

                            <br>
                            <a href="mailto:address@domain.ru" class="mail"><span>address@domain.ru</span></a>

                            <br>
                            <a href="http://address.domain.ru" class="page"><span>address.domain.ru</span></a>
                        </div>
                    </div>

                    <p class="static-page__sidebar-item h2 page-header">Это интересно</p>

                    <div class="static-page__sidebar-item articles-list">

                        <p class="articles-list__header">Про сырье</p>

                        <a href="/baza-znanii/o-polimerakh-bazovye-ponyatiya" class="articles-list__anchor">
                            О полимерах. Базовые понятия
                        </a>

                        <p class="articles-list__header">Про оборудование</p>

                        <a href="/baza-znanii/filtry-rasplava-polimerov" class="articles-list__anchor">
                            Фильтры расплава полимеров
                        </a>

                    </div>

                </div>

                <div class="static-page__main-content">

                    <h1 class="static-page__main-content-item h2 page-header">О полимерах. Базовые понятия</h1>

                    <div class="static-page__main-content-item boredered article-text user-text">
                        {{ include('Includes/text-example.twig') }}
                    </div>

                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="/builds/manager.js"></script>
{% endblock %}
