{% extends 'Page.twig' %}

{% block css %}
    <link rel="stylesheet" href="/builds/managers.css">
{% endblock %}

{% block content_main %}
    {{ include('Includes/Managers/Managers.twig') }}
{% endblock %}

{% block js %}
    <script src="/builds/managers.js"></script>
{% endblock %}

