{% extends 'Page.twig' %}

{% block css %}
    <link rel="stylesheet" href="/builds/shopping-cart.css">
{% endblock %}

{% block content_main %}
    <div class="jeContainerFluid">
        <h1 class="title-page">Корзина</h1>
        <div class="jeContainer">
            <section class="main-cart">
                <ul class="cart-list">
                    <li class="cart-item component">
                        <div class="cart-col image">
                            <a href=""><img src="" alt=""></a>
                        </div>
                        <div class="cart-col art">
                            <a href=""><span>арт.</span> <span class="art-num"></span></a>
                        </div>
                        <div class="cart-col name">
                            <a href="" class="name-item"></a>
                        </div>
                        <div class="cart-col count">
                            <button class="num-btn decr-num"><i class="ok-ico-minus"></i></button>
                            <p><span class="count-num">1</span><span class="abs-pos">шт.</span></p>
                            <button class="num-btn increase-num"><i class="ok-ico-add"></i></button>
                        </div>
                        <div class="cart-col price">
                            <p><i class="ok-ico-ruble"></i><span class="price-num"><span class="get-num"></span><span class="abs-pos">за шт.</span></span></p>
                        </div>
                        <div class="cart-col total-price">
                            <p><i class="ok-ico-ruble"></i><span></span></p>
                        </div>
                        <div class="cart-col buttons">
                            <div class="buttons-wrapper">
                                <button class="remove"><i class="ok-ico-remove"></i></button>
                                <button class="readd"><i class="ok-ico-readd"></i></button>
                            </div>
                        </div>
                    </li>
                    <li class="cart-item">
                        <div class="cart-col image">
                            <a href="#">
                                <img src="img/shopping-cart/u56302.png" alt="">
                            </a>
                        </div>
                        <div class="cart-col art">
                            <a href="#"><span>арт.</span> <span class="art-num" data-id="58">58</span></a>
                        </div>
                        <div class="cart-col name">
                            <a href="#" class="name-item">Дробилка XFS-250</a>
                        </div>
                        <div class="cart-col count">
                            <button class="num-btn decr-num"><i class="ok-ico-minus"></i></button>
                            <p><span class="count-num">1</span><span class="abs-pos">шт.</span></p>
                            <button class="num-btn increase-num"><i class="ok-ico-add"></i></button>
                        </div>
                        <div class="cart-col price">
                            <p><i class="ok-ico-ruble"></i><span class="price-num"><span class="get-num">7000000</span><span class="abs-pos">за шт.</span></span></p>
                        </div>
                        <div class="cart-col total-price">
                            <p><i class="ok-ico-ruble"></i><span></span></p>
                        </div>
                        <div class="cart-col buttons">
                            <div class="buttons-wrapper">
                                <button class="remove"><i class="ok-ico-remove"></i></button>
                                <button class="readd"><i class="ok-ico-readd"></i></button>
                            </div>
                        </div>
                    </li>
                    <li class="cart-item">
                        <div class="cart-col image">
                            <a href="#">
                                <img src="img/shopping-cart/u56302.png" alt="">
                            </a>
                        </div>
                        <div class="cart-col art">
                            <a href="#"><span>арт.</span> <span class="art-num" data-id="58">58</span></a>
                        </div>
                        <div class="cart-col name">
                            <a href="#" class="name-item">Дробилка XFS-250</a>
                        </div>
                        <div class="cart-col count">
                            <button class="num-btn decr-num"><i class="ok-ico-minus"></i></button>
                            <p><span class="count-num">1</span><span class="abs-pos">шт.</span></p>
                            <button class="num-btn increase-num"><i class="ok-ico-add"></i></button>
                        </div>
                        <div class="cart-col price">
                            <p><i class="ok-ico-ruble"></i><span class="price-num"><span class="get-num">565000</span><span class="abs-pos">за шт.</span></span></p>
                        </div>
                        <div class="cart-col total-price">
                            <p><i class="ok-ico-ruble"></i><span></span></p>
                        </div>
                        <div class="cart-col buttons">
                            <div class="buttons-wrapper">
                                <button class="remove"><i class="ok-ico-remove"></i></button>
                                <button class="readd"><i class="ok-ico-readd"></i></button>
                            </div>
                        </div>
                    </li>
                    <li class="cart-item">
                        <div class="cart-col image">
                            <a href="#">
                                <img src="img/shopping-cart/u56302.png" alt="">
                            </a>
                        </div>
                        <div class="cart-col art">
                            <a href="#"><span>арт.</span> <span class="art-num" data-id="58">58</span></a>
                        </div>
                        <div class="cart-col name">
                            <a href="#" class="name-item">Дробилка XFS-250</a>
                        </div>
                        <div class="cart-col count">
                            <button class="num-btn decr-num"><i class="ok-ico-minus"></i></button>
                            <p><span class="count-num">1</span><span class="abs-pos">шт.</span></p>
                            <button class="num-btn increase-num"><i class="ok-ico-add"></i></button>
                        </div>
                        <div class="cart-col price">
                            <p><i class="ok-ico-ruble"></i><span class="price-num"><span class="get-num">1235556</span><span class="abs-pos">за шт.</span></span></p>
                        </div>
                        <div class="cart-col total-price">
                            <p><i class="ok-ico-ruble"></i><span></span></p>
                        </div>
                        <div class="cart-col buttons">
                            <div class="buttons-wrapper">
                                <button class="remove"><i class="ok-ico-remove"></i></button>
                                <button class="readd"><i class="ok-ico-readd"></i></button>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="total-sum">
                    <p><span class="sum-text">ИТОГО:</span><i class="ok-ico-ruble"></i><span class="total-sum-price">70000000</span></p>
                </div>
            </section>
        </div>
    </div>
    <div class="jeContainer padd-bottom">
        <div class="static-page cart-secondary">
            <div class="static-page__sidebar">
                <h2 class="cart-s-title">Ваш менеджер</h2>
                <div class="card-manager set-eq-h" data-spec-id=" оборудование для переработки полимеров ">
                    <a href="http://manager-6.ok-stanok.ru" class="img-wrapper">
                        <img src="/data/images/user/profile/f9d05ecc3d729f500801ce7e8a37c7e0.jpg" alt="">
                    </a>
                    <a href="http://manager-6.ok-stanok.ru" class="about-1">
                        <p class="lastname">Блинов</p>
                        <p class="firstname">Евгений Иванович</p>
                        <p class="post-title">Должность:</p>
                        <p class="post-val"> руководитель отдела снабжения </p>
                        <p class="spec-title">Специализация:</p>
                        <p class="spec-val"> оборудование для переработки полимеров </p>
                    </a>
                    <div style="clear: both"></div>
                    <div class="about-2">
                        <a href="tel:89037687523" class="phone">
                            <span>+7 (903) 768-75-23</span>
                        </a>
                        <br>
                        <a href="mailto:kupim@ok-stanok.ru" class="mail"><span>kupim@ok-stanok.ru</span></a>
                        <br>
                        <a href="http://manager-6.ok-stanok.ru" class="page"><span>http://manager-6.ok-stanok.ru</span></a>
                    </div>
                </div>
                <button class="submit-form">ВЫБРАТЬ ДРУГОГО</button>
            </div>
            <div class="static-page__half-col with-m">
                <h2 class="cart-s-title">КОМПЛЕКТУЮЩИЕ К ВЫБРАННЫМ ТОВАРАМ</h2>
                <div class="component-for-products set-eq-h">
                    <ul class="cart-list">
                        <li class="cart-item component" id="58" data-url="some/url" data-image="img/shopping-cart/u56302.png" data-chapter="component" data-price="8765432">
                            <div class="cart-col art">
                                <a href="#"><span>арт.</span> <span class="art-num">58</span></a>
                            </div>
                            <div class="cart-col name">
                                <a href="#">Дробилка XFS-250</a>
                            </div>
                            <div class="cart-col add-to-cart">
                                <button class="btn-add-cart">Добавить в корзину</button>
                            </div>
                        </li>
                        <li class="cart-item component" id="12" data-url="some/url2" data-image="img/shopping-cart/u56302.png" data-chapter="component" data-price="85432">
                            <div class="cart-col art">
                                <a href="#"><span>арт.</span> <span class="art-num">12</span></a>
                            </div>
                            <div class="cart-col name">
                                <a href="#">Дробилка SWP-500</a>
                            </div>
                            <div class="cart-col add-to-cart">
                                <button class="btn-add-cart">Добавить в корзину</button>
                            </div>
                        </li>
                        <li class="cart-item component" id="58" data-url="some/url" data-image="img/shopping-cart/u56302.png" data-chapter="component" data-price="8765432">
                            <div class="cart-col art">
                                <a href="#"><span>арт.</span> <span class="art-num">58</span></a>
                            </div>
                            <div class="cart-col name">
                                <a href="#">Дробилка XFS-250</a>
                            </div>
                            <div class="cart-col add-to-cart">
                                <button class="btn-add-cart">Добавить в корзину</button>
                            </div>
                        </li>
                        <li class="cart-item component" id="12" data-url="some/url2" data-image="img/shopping-cart/u56302.png" data-chapter="component" data-price="85432">
                            <div class="cart-col art">
                                <a href="#"><span>арт.</span> <span class="art-num">12</span></a>
                            </div>
                            <div class="cart-col name">
                                <a href="#">Дробилка SWP-500</a>
                            </div>
                            <div class="cart-col add-to-cart">
                                <button class="btn-add-cart">Добавить в корзину</button>
                            </div>
                        </li>
                        <li class="cart-item component" id="58" data-url="some/url" data-image="img/shopping-cart/u56302.png" data-chapter="component" data-price="8765432">
                            <div class="cart-col art">
                                <a href="#"><span>арт.</span> <span class="art-num">58</span></a>
                            </div>
                            <div class="cart-col name">
                                <a href="#">Дробилка XFS-250</a>
                            </div>
                            <div class="cart-col add-to-cart">
                                <button class="btn-add-cart">Добавить в корзину</button>
                            </div>
                        </li>
                        <li class="cart-item component" id="12" data-url="some/url2" data-image="img/shopping-cart/u56302.png" data-chapter="component" data-price="85432">
                            <div class="cart-col art">
                                <a href="#"><span>арт.</span> <span class="art-num">12</span></a>
                            </div>
                            <div class="cart-col name">
                                <a href="#">Дробилка SWP-500</a>
                            </div>
                            <div class="cart-col add-to-cart">
                                <button class="btn-add-cart">Добавить в корзину</button>
                            </div>
                        </li>
                        <li class="cart-item component" id="58" data-url="some/url" data-image="img/shopping-cart/u56302.png" data-chapter="component" data-price="8765432">
                            <div class="cart-col art">
                                <a href="#"><span>арт.</span> <span class="art-num">58</span></a>
                            </div>
                            <div class="cart-col name">
                                <a href="#">Дробилка XFS-250</a>
                            </div>
                            <div class="cart-col add-to-cart">
                                <button class="btn-add-cart">Добавить в корзину</button>
                            </div>
                        </li>
                        <li class="cart-item component" id="12" data-url="some/url2" data-image="img/shopping-cart/u56302.png" data-chapter="component" data-price="85432">
                            <div class="cart-col art">
                                <a href="#"><span>арт.</span> <span class="art-num">12</span></a>
                            </div>
                            <div class="cart-col name">
                                <a href="#">Дробилка SWP-500</a>
                            </div>
                            <div class="cart-col add-to-cart">
                                <button class="btn-add-cart">Добавить в корзину</button>
                            </div>
                        </li>
                        <li class="cart-item component" id="58" data-url="some/url" data-image="img/shopping-cart/u56302.png" data-chapter="component" data-price="8765432">
                            <div class="cart-col art">
                                <a href="#"><span>арт.</span> <span class="art-num">58</span></a>
                            </div>
                            <div class="cart-col name">
                                <a href="#">Дробилка XFS-250</a>
                            </div>
                            <div class="cart-col add-to-cart">
                                <button class="btn-add-cart">Добавить в корзину</button>
                            </div>
                        </li>
                        <li class="cart-item component" id="12" data-url="some/url2" data-image="img/shopping-cart/u56302.png" data-chapter="component" data-price="85432">
                            <div class="cart-col art">
                                <a href="#"><span>арт.</span> <span class="art-num">12</span></a>
                            </div>
                            <div class="cart-col name">
                                <a href="#">Дробилка SWP-500</a>
                            </div>
                            <div class="cart-col add-to-cart">
                                <button class="btn-add-cart">Добавить в корзину</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="static-page__half-col">
                <h2 class="cart-s-title">ОТПРАВИТЬ ЗАЯВКУ МЕНЕДЖЕРУ</h2>
                <div class="contact-form set-eq-h">
                    <form id="request-manager" class="request-manager-form" action="" method="POST">
                        <div class="form-el">
                            <label for="country">Страна</label>
                            <input type="text" pattern="^.{3,}$" required maxlength="60" name="country" id="country" placeholder="Ваша страна">
                        </div>
                        <div class="form-el">
                            <label for="state">Область, край</label>
                            <input type="text" pattern="^.{3,}$" required maxlength="60" name="state" id="state" placeholder="Ваша область, край">
                        </div>
                        <div class="form-el">
                            <label for="city">Город</label>
                            <input type="text" pattern="^.{3,}$" required maxlength="60" name="city" id="city" placeholder="Ваш город">
                        </div>
                        <div class="form-el">
                            <label for="name">ФИО / Компания</label>
                            <input type="text" pattern="^.{3,}$" required name="name" maxlength="60" id="name" placeholder="ФИО или название компании">
                        </div>
                        <div class="form-el">
                            <label for="mail">Элетронная почта</label>
                            <input type="email" pattern="^\w+[\w\.]*@[\w.]+\.\w+$" maxlength="60" autocomplete="off" name="mail" id="mail" placeholder="e-mail">
                        </div>
                        <div class="form-el">
                            <label for="tel">Телефон</label>
                            <input type="text" name="tel" id="tel" placeholder="Ваш телефон">
                        </div>
                        <div class="form-el">
                            <textarea name="text" pattern="^.{3,}$" required id="text" placeholder="Дополнителное сообщение менеджеру"></textarea>
                        </div>
                    </form>
                </div>
                <button type="submit" form="request-manager" class="submit-form">Отправить Заявку</button>
            </div>
        </div>
    </div>
    <div class="je-alertino je-alertino--order-callback popup-for-form">
        <div class="je-alertino__overlay"></div>
        <div class="je-alertino__modal">
            <div class="je-alertino__global-wrapper">
                <div class="je-alertino__before order-callback-triangle-top"></div>
                <div class="je-alertino__content-wrapper ps-container ps-theme-default ps-active-y">
                    <div class="je-alertino__cross"></div>
                    <div class="je-alertino__content">
                        <h3>СПАСИБО ЗА ЗАЯВКУ!</h3>
                        <h3>
                            Наш менеджер свяжется
                            с Вами в ближайшее
                            время. Ожидайте.
                        </h3>
                    </div>
                </div>
                <div class="je-alertino__after order-callback-triangle-bottom"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="/builds/shopping-cart.js"></script>
{% endblock %}
