{% extends 'Page.twig' %}

{% block css %}
    <link rel="stylesheet" href="/builds/static.css">
{% endblock %}

{% block content_main %}

    <div class="jeContainerFluid">
        <div class="jeContainer">

            <div class="static-page">

                <div class="static-page__sidebar">

                    <p class="static-page__sidebar-item h2 page-header">Это интересно</p>

                    <div class="static-page__sidebar-item articles-list">

                        <p class="articles-list__header">Про сырье</p>

                        <a href="/baza-znanii/o-polimerakh-bazovye-ponyatiya" class="articles-list__anchor">
                            О полимерах. Базовые понятия
                        </a>

                        <p class="articles-list__header">Про оборудование</p>

                        <a href="/baza-znanii/filtry-rasplava-polimerov" class="articles-list__anchor">
                            Фильтры расплава полимеров
                        </a>

                    </div>

                </div>

                <div class="static-page__main-content">

                    <h1 class="static-page__main-content-item h2 page-header">О полимерах. Базовые понятия</h1>

                    <div class="static-page__main-content-item boredered article-text user-text">
                        {{ include('Includes/text-example.twig') }}
                    </div>

                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="/builds/static.js"></script>
{% endblock %}
