.managers-hint-logo {
  width: 160px;
  height: 47px;
  //outline: 1px solid darkred;
  background-image: url('./Includes/managers-hint-logo/img/manager-logo.png');
  background-repeat: no-repeat;

  padding-left: 60px;
  span {
    color: white;
    &.line1 {
      font-size: 29px;
    }
    &.line2 {
      font-size: 16px;
    }
  }
  
}